<h1>error textfield</h1>
<p class="doc-p">We can change the appearance and state of a standard input; simply add the <code>.is-error</code> modifier to the input's <code>.field-group</code> container. Javascript toggles the error and places a <code>.field-helper</code> element with the appropriate message.</p>
<figure>
  <div class="field-group is-error">
    <label for="field-errorinput" class="field-label">Label text</label>
    <input type="text" id="field-errorinput" class="field-text" name="single-line-field">
    <div class="field-helper">error text</div>
  </div>
</figure>