<h1>standard textfield</h1>
<p>Standard text inputs have the class <code>.field-text</code> and must be wrapped in <code>.field-group</code>. The grouping includes the label with <code>.field-label</code> and optional elements such as <code>.field-helper</code>.</p>
<figure>
  <div class="field-group">
    <label for="field-preinput" class="field-label">Label text</label>
    <input type="text" id="field-preinput" class="field-text" name="single-line-field">
    <div class="field-helper">hint and helper text</div>
  </div>
</figure>