<h1>checkbox</h1>
<p>Checkboxes allow users to select multiple options from a set.</p>
<p>The input field of type <code>checkbox</code> must have the class <code>.checkbox</code> and can be wrapped in <code>.field-group</code>. The input field must have a label sibling with the class <code>.checkbox-label</code> containing an inline <code>span</code> with the <code>.checkbox-label-box</code> class. Use <code>checked</code> to preselect an option.</p>
<figure>
  <div class="field-group">
    <input type="checkbox" id="checkbox-example" class="checkbox" checked>
	<label for="checkbox-example" class="checkbox-label"><span class="checkbox-label-box"></span></label>
  </div>
  <div class="field-group">
    <input type="checkbox" id="checkbox-example-1" class="checkbox">
	<label for="checkbox-example-1" class="checkbox-label"><span class="checkbox-label-box"></span></label>
  </div>
</figure>