language: javascript
sudo: false

before_install:
  - rvm install 2.2.4

install:
  - npm install
  - gem install bundler
  - bundle install

before_script:
  # Install gulp cli to ensure gulp command can be run on travis CI
  - npm install -g gulp-cli

script: "gulp jekyll"


before_deploy:
  >
    if ! [ "$HAS_RUN_DEPLOYMENT" ]; then
      git config --local user.name "Adam clone"
      git config --local user.email "adam@grana.com"
      gulp bump
      RELEASE_NAME=$(cat package.json | python -c "import sys, json; print(json.load(sys.stdin)['version'])")
    fi

deploy:
  - provider: pages
    skip_cleanup: true
    email: adam@grana.com
    name: Adam clone
    local_dir: docs
    github_token: $GITHUB_TOKEN
    on:
      branch: master
  - provider: releases
    name: $RELEASE_NAME
    api_key:
      secure: $GITHUB_TOKEN
    file_glob: true
    file:
      - _dev/js/core.concat.*.js
      - _dev/css/main.css
    skip_cleanup: true
    on:
      branch: master
after_deploy:
  >
    if ! [ "$HAS_RUN_DEPLOYMENT" ]; then
      git add package.json bower.json
      git commit -m "bump release to $RELEASE_NAME"
      git push https://$GITHUB_TOKEN@github.com:GRANA/style-guide master
      git tag "$RELEASE_NAME"
      export HAS_RUN_DEPLOYMENT=1;
    fi

env:
  global:
  - secure: MQ2rC+hgUPN//xB8rXWulNcnzGAvQ7aoelDm8tTE2PJCmfOr1pHourQhMsYwzL1JdlM1/3cY4nGst40919b9ItK+pI8hQDwDUm+HdFnyKmb5fOQ3z0E4tIFVOREvsP3wP5wvdHa04lVzftIDlWm9dXSdIIWyjGgnibcO0r/v/2jCfkK7xQKpcs2iIf9gI7zF0+jhzBUQ1r1U1K1Qmgqdw22Nfra5dWrao4sELfWTn815/YpUiRsYyLCQ/UGUSY0M6M4E4KwXi/95U50q5GCaZ79vFVJI+K82ydR43PDRUFEK+lehWpaKW7y5qC5Pc3UvF9H89VGl5VeymULUmmIYn32L0CAgUvZD432Et5yQlDucHdMf+OfjqjGKlUmvs1pgBdP4TtbZIAwryeEIhAcH9eugAhZVoHE2wKux0ClRYM4YXqC0UZ4rSjyULQbf5yNW2Q2JIJ18vbgEiQtF7boXUsIo2NyaY7UiYLsoiFdbtqzH4fEwO55ix9ZD/jxkebgI+lZMrVkUfNDEATFPTR4e5sHeY5YN/HQnkIxHghVkpYWiDQJcMUz+e4UZXt2FjW4Migj+6AW5b95dyST6bHGvj+KzxSDyy9QBFvgBXHBJOynMfe7zOWMaQykJ9SW3H9N1kgKH7XN8f3chD7v3aEImPytQfAd+oHNJNX56gUsHxdg=
