language: javascript
sudo: false

before_install:
  - rvm install 2.2.4

install:
  - npm install
  - gem install bundler
  - bundle install

before_script:
- npm install -g gulp-cli

script: "gulp jekyll"

deploy:
  provider: pages
  skip_cleanup: true
  email: adam@grana.com
  name: Adam clone
  fqdn: styleguide.grana.com
  local_dir: docs
  github_token: $GITHUB_TOKEN
  on:
    branch: master

env:
  global:
    secure: wV2GNEHOszb/r8/zOemsE/61wiUsNKya28mRyZjHQrGCUYZNWxM2uQ03iSVfRbrdoTH1NaqnU3Oeh3Va/UxC7SY5jVRqcTeV1m7ISZRjEbF8TDrz4iVl5rIq6FqiMbG3IxgJZGuKcUv6Jf2q5BQglFmTfYhw5nHKbjnJJtBZ40P+9Dzfe+j/Gk5y25EY9xgrNCOPmVbKW7iRJ/rA+uKOm8YfA/SiqbsTvi1EapBOQfVS5I7fVIY/Ri9IYXIXDgx+IUKIkEg88hkbSqNU3XnRzWrkrMFtPaAh/+CDWZtY7rEtDZKGwK+VFzxLzCG56LV+HF3BY33VGTiKMAjaMl7M0Xpvry0JT4QULL61OZNQVdRMwowmHu2UcT88CCuBcYmyJUFcZmm2PvQA2E0zpv7ZRo7RGQerqoLcfXRbOuqkfLDO5LUmVYZeEV1AgIY6aiGzyF2h1BUcj2znF0XFXLZIbHwGt5qG9Nf2kjw0m8q3NmCK18xOBgFN0nWleDiQbYsh5x3CQVDgMj48emOb28Pbn42TWYDigxIsNOb030HRJIJ6TvFg0v6JARMcvOZrdQcmel64DMv0AH1HVKx6XGCDia9Ovo1JvtwphExiSRwgOTsTCU6M+6NWBlUIuVtqYz3WDEp2FAvFy7zZCEMjEYhFHkwPFmeoY51QxVp7kE1i32E=
