<h1>colors</h1>
<p>These are the standard mangolian colors. They can be added to properties using the helper function, <code>mn-color("almostblack")</code>.</p>
<ul class="doc-color-list">
  <li>
  	<div class="doc-color-box doc-color-white doc-color-border"></div>
  	<div class="doc-color-name">white</div>
  	<div>#fffff</div>
  </li>
  <li>
    <div class="doc-color-box doc-color-lightgrey"></div>
    <div class="doc-color-name">lightgrey</div>
  	<div>#707881</div>
  </li>
  <li>
    <div class="doc-color-box doc-color-darkgrey"></div>
    <div class="doc-color-name">darkgrey</div>
  	<div>#4c5258</div>
  </li>
  <li>
    <div class="doc-color-box doc-color-styleguidebackground"></div>
    <div class="doc-color-name">styleguidebackground</div>
  	<div>#f9f9f9</div>
  </li>
  <li>
    <div class="doc-color-box doc-color-brandblue"></div>
    <div class="doc-color-name">brandblue</div>
  	<div>#0083cb</div>
  </li>
  <li>
    <div class="doc-color-box doc-color-almostblack"></div>
    <div class="doc-color-name">almostblack</div>
  	<div>#1d1f21</div>
  </li>
  <li>
    <div class="doc-color-box doc-color-disabled"></div>
    <div class="doc-color-name">disabled</div>
  	<div>#cad0d3</div>
  </li>
  <li>
    <div class="doc-color-box doc-color-green"></div>
    <div class="doc-color-name">green</div>
  	<div>#6fc49f</div>
  </li>
  <li>
    <div class="doc-color-box doc-color-red"></div>
    <div class="doc-color-name">red</div>
  	<div>#ff5a5f</div>
  </li>
</ul>