<h1>switcheroo</h1>
<figure>
<ul class="mn--switcheroo">
  <li class="mn--switcheroo-panel is-active">
  	<input type="radio" id="switcheroo-example-credit" class="mn--switcheroo-input" name="switcheroo-example" value="credit">
  	<label for="switcheroo-example-credit" class="mn--switcheroo-label">
  	  <div class="mn--switcheroo-inner">
  	  	<h4 class="mn--switcheroo-labeltext">credit card</h4>
  	  	<p class="mn--switcheroo-subtext">description and text</p>
  	  </div>
  	</label>
  </li>
  <li class="mn--switcheroo-panel">
    <input type="radio" id="switcheroo-example-paypal" class="mn--switcheroo-input" name="switcheroo-example" value="paypal">
    <label for="switcheroo-example-paypal" class="mn--switcheroo-label">
      <div class="mn--switcheroo-inner">
  	  	<h4 class="mn--switcheroo-labeltext">paypal</h4>
  	  	<p class="mn--switcheroo-subtext">description and text</p>
  	  </div>
    </label>
  	
  </li>
  <li class="mn--switcheroo-panel">
  	<input type="radio" id="switcheroo-example-cash" class="mn--switcheroo-input" name="switcheroo-example" value="cash">
  	<label for="switcheroo-example-cash" class="mn--switcheroo-label">
  	  <div class="mn--switcheroo-inner">
  	  	<h4 class="mn--switcheroo-labeltext">cash</h4>
  	  	<p class="mn--switcheroo-subtext">description and text</p>
  	  </div>
    </label>
  </li>
</ul>
</figure>