<h1>switcheroo</h1>
<figure>
<ul class="mn--switcheroo">
  <li class="mn--switcheroo-panel is-active">
  	<input type="radio" class="mn--switcheroo-input" name="switcheroo-example" value="credit">
  	credit card
  </li>
  <li class="mn--switcheroo-panel">
    <input type="radio" class="mn--switcheroo-input" name="switcheroo-example" value="paypal">
  	paypal
  </li>
  <li class="mn--switcheroo-panel">
  	<input type="radio" class="mn--switcheroo-input" name="switcheroo-example" value="cash">
  	cash
  </li>
</ul>
</figure>