<h1>switcheroo tight</h1>
<p>There’s a variation of the text only switcher with tighter padding between the panel border and the label. Keep the use of this variation to situations where content within an element is being manipulated or changed.</p>
<p>Include <code>.mn--switcheroo-tight</code> next to <code>.mn--switcheroo</code>.</p>
<figure>
<ul class="mn--switcheroo mn--switcheroo-tight">
  <li class="mn--switcheroo-panel">
  	<input type="radio" id="switcheroo-tight-example-xxs" class="mn--switcheroo-input" name="switcheroo-tight-example" value="xxs">
  	<label for="switcheroo-tight-example-xxs" class="mn--switcheroo-label">
  	  <div class="mn--switcheroo-inner">
  	  	<h4 class="mn--switcheroo-labeltext">xxs</h4>
  	  </div>
  	</label>
  </li>
  <li class="mn--switcheroo-panel">
    <input type="radio" id="switcheroo-tight-example-xs" class="mn--switcheroo-input" name="switcheroo-tight-example" value="xs">
    <label for="switcheroo-tight-example-xs" class="mn--switcheroo-label">
      <div class="mn--switcheroo-inner">
      	<h4 class="mn--switcheroo-labeltext">xs</h4>
  	  </div>
    </label>
  </li>
  <li class="mn--switcheroo-panel">
  	<input type="radio" id="switcheroo-tight-example-s" class="mn--switcheroo-input" name="switcheroo-tight-example" value="s" checked>
  	<label for="switcheroo-tight-example-s" class="mn--switcheroo-label">
  	  <div class="mn--switcheroo-inner">
  	  	<h4 class="mn--switcheroo-labeltext">s</h4>
  	  </div>
    </label>
  </li>
  <li class="mn--switcheroo-panel">
    <input type="radio" id="switcheroo-tight-example-m" class="mn--switcheroo-input" name="switcheroo-tight-example" value="m">
    <label for="switcheroo-tight-example-m" class="mn--switcheroo-label">
      <div class="mn--switcheroo-inner">
        <h4 class="mn--switcheroo-labeltext">m</h4>
      </div>
    </label>
  </li>
  <li class="mn--switcheroo-panel">
    <input type="radio" id="switcheroo-tight-example-l" class="mn--switcheroo-input" name="switcheroo-tight-example" value="l">
    <label for="switcheroo-tight-example-l" class="mn--switcheroo-label">
      <div class="mn--switcheroo-inner">
        <h4 class="mn--switcheroo-labeltext">l</h4>
      </div>
    </label>
  </li>
  <li class="mn--switcheroo-panel">
    <input type="radio" id="switcheroo-tight-example-xl" class="mn--switcheroo-input" name="switcheroo-tight-example" value="xl">
    <label for="switcheroo-tight-example-xl" class="mn--switcheroo-label">
      <div class="mn--switcheroo-inner">
        <h4 class="mn--switcheroo-labeltext">xl</h4>
      </div>
    </label>
  </li>
</ul>
</figure>