{% assign title = 'example' %}
{% assign code = '
<pre><code class="html">
&lt;ul class="mn--switcheroo"&gt;
  &lt;li class="mn--switcheroo-panel"&gt;
    &lt;input type="radio" id="switcheroo-example-credit" class="mn--switcheroo-input" name="switcheroo-example" value="credit" checked&gt;
    &lt;label for="switcheroo-example-credit" class="mn--switcheroo-label"&gt;
      &lt;div class="mn--switcheroo-inner"&gt;
        &lt;div class="mn--switcheroo-icon-container mn--switcheroo-icon-example-1"&gt;&lt;/div&gt;
        &lt;h4 class="mn--switcheroo-labeltext"&gt;credit card&lt;/h4&gt;
        &lt;p class="mn--switcheroo-subtext"&gt;description and text&lt;/p&gt;
      &lt;/div&gt;
    &lt;/label&gt;
  &lt;/li&gt;
  &lt;li class="mn--switcheroo-panel"&gt;
    &lt;input type="radio" id="switcheroo-example-paypal" class="mn--switcheroo-input" name="switcheroo-example" value="paypal"&gt;
    &lt;label for="switcheroo-example-paypal" class="mn--switcheroo-label"&gt;
      &lt;div class="mn--switcheroo-inner"&gt;
        &lt;div class="mn--switcheroo-icon-container mn--switcheroo-icon-example-2"&gt;&lt;/div&gt;
        &lt;h4 class="mn--switcheroo-labeltext"&gt;paypal&lt;/h4&gt;
        &lt;p class="mn--switcheroo-subtext"&gt;description and text&lt;/p&gt;
      &lt;/div&gt;
    &lt;/label&gt;
  &lt;/li&gt;
  &lt;li class="mn--switcheroo-panel"&gt;
    &lt;input type="radio" id="switcheroo-example-cash" class="mn--switcheroo-input" name="switcheroo-example" value="cash"&gt;
    &lt;label for="switcheroo-example-cash" class="mn--switcheroo-label"&gt;
      &lt;div class="mn--switcheroo-inner"&gt;
        &lt;div class="mn--switcheroo-icon-container mn--switcheroo-icon-example-3"&gt;&lt;/div&gt;
        &lt;h4 class="mn--switcheroo-labeltext"&gt;cash&lt;/h4&gt;
        &lt;p class="mn--switcheroo-subtext"&gt;description and text&lt;/p&gt;
      &lt;/div&gt;
    &lt;/label&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
' %}
{% include example.html %}