{% assign title = 'example' %}
{% assign code = '
<pre><code class="html">&lt;table class="datatable"&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Country&lt;/th&gt;
      &lt;th&gt;Refund Process&lt;/th&gt;
      &lt;th&gt;Refund Period&lt;/th&gt;
      &lt;th&gt;Refund Fee&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;Canada&lt;/td&gt;
      &lt;td&gt;14 working days&lt;/td&gt;
      &lt;td&gt;30 days&lt;/td&gt;
      &lt;td&gt;CA$17&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;United States&lt;/td&gt;
      &lt;td&gt;14 working days&lt;/td&gt;
      &lt;td&gt;30 days&lt;/td&gt;
      &lt;td&gt;US$8&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
</code></pre>
' %}
{% include example.html %}