<h1>datatable lite</h1>
<p>The lite data table is a variation that is applicable for both the large and small versions of the data table. This version allows for a smaller amount of information to be much more readily accessible to the audience. The lite data table consists of only two columns with no divider. The column title is outside of table body without its own row. The height of the rows and the internal padding rules still apply.</p>
<p>Add <code>.mn--datatable</code> and <code>.mn--datatable-lite</code> to the <code>table</code> tag. Be sure to include a <code>colspan</code> to the header cell.</p>
<figure>
  <table class="mn--datatable mn--datatable-lite">
    <thead>
      <tr>
        <th colspan="2">column title</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>value 1</td>
        <td>value a</td>
      </tr>
      <tr>
        <td>value 2</td>
        <td>value b</td>
      </tr>
    </tbody>
  </table>
</figure>