<h1>datatable</h1>
<p>Data tables present raw data sets and give meaning to the data through their arrangement while making sure that the data is easily readable, scannable and comparable. Within the Grana website, whether mobile or desktop, data tables only display information – users should not be able to manipulate or the data that is presented within the cells.</p>
<p>Add <code>.datatable</code> to the <code>table</code> tag.</p>
<figure>
  <table class="datatable">
    <thead>
      <tr>
        <th>Country</th>
        <th>Refund Process</th>
        <th>Refund Period</th>
        <th>Refund Fee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Canada</td>
        <td>14 working days</td>
        <td>30 days</td>
        <td>CA$17</td>
      </tr>
      <tr>
        <td>United States</td>
        <td>14 working days</td>
        <td>30 days</td>
        <td>US$8</td>
      </tr>
    </tbody>
  </table>
</figure>