{% assign title = 'example' %}
{% assign code = '
<pre><code class="html">&lt;table class="mn--datatable mn--datatable-lite"&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th colspan="2"&gt;column tile&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;value 1&lt;/td&gt;
      &lt;td&gt;value a&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;value 2&lt;/td&gt;
      &lt;td&gt;value b&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
</code></pre>
' %}
{% include example.html %}