<h1>datatable small</h1>
<p>The small data table is used in context where the data table might just be a part of a group of components within a page. Use a minimum padding of 20px in between each column. The widest item in the column (including data and column title) should delineate the column border.  The data table should always fit the full width of the mobile grid and define each column by the nearest percentage ratio that fits the data.</p>
<p>Add <code>.mn--datatable</code> and <code>.mn--datatable-small</code> to the <code>table</code> tag.</p>
<figure>
  <table class="mn--datatable mn--datatable-small">
    <thead>
      <tr>
        <th>Country</th>
        <th>Refund Process</th>
        <th>Refund Period</th>
        <th>Refund Fee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Canada</td>
        <td>14 working days</td>
        <td>30 days</td>
        <td>CA$17</td>
      </tr>
      <tr>
        <td>United States</td>
        <td>14 working days</td>
        <td>30 days</td>
        <td>US$8</td>
      </tr>
    </tbody>
  </table>
</figure>
