/**
 * Arrow link
 */

.arrow-link{
  margin: 0 25px;
  color:$primary-color;
  font-size: 1.7rem;

  text-transform: lowercase;

  &:after{
      @extend %grana_icons;
        position: relative;
        margin-left: 10px;

        content: '\e813';
        font-size: 1rem;

        text-decoration: none;
        @include transition(all .2s ease);
    }

    &:hover, &:focus, &:active{
        color: $secondary-color;
    }
}


.arrow-link-lg{
    font-size: 2rem;

    &:after{
        font-size: 1.6rem;
    }
}

.arrow-link-xlg{
    font-size: 3rem;

    &:after{
        font-size: 2rem;
    }
}


.arrow-link-shop{
    margin: 0;
}
.arrow-link-stack{
    display: block;
    margin: 0;

    &:not(:last-child){
        margin: 20px 0;
    }
}

.arrow-link-tight{
    margin: 0 10px;
}

.arrow-link-wide{
    margin: 0 40px;
}
