/**
 * Styles for the button module
 */


//placeholder
%std-btn{
	display: inline-block;
	text-decoration: none;
 	@extend .body-l;
}

 .box-button{
 	@extend %std-btn;
 	padding: 10px 20px;
 }

 .box-button-blue{
 	background-color: $primary-brand;
 	color: $primary-inverse-text;
 }

 .box-button-black{
 	background-color: $primary-text;
 	color: $primary-inverse-text;
 }

  .box-button-white{
 	background-color: $primary-inverse-text;
 	color: $primary-brand;
 }

 .ghost-button{
 	@extend %std-btn;
 	padding: 8px 20px;
 	border-width: 2px;
 	border-style: solid;
 	background-color: $primary-inverse-text;
 }

 .ghost-button-blue{
 	border-color: $primary-brand;
 	color: $primary-brand;
 }

 .ghost-button-black{
 	border-color: $primary-text;
 	color: $primary-text;
 }

 .ghost-button-white{
 	border-color: $primary-inverse-text;
 	color: $primary-inverse-text;
 }