// Primary button

.mn--bt-primary-blue {
  background-color: $primary-brand;
  color: $primary-inverse-text;

  &:hover {
    background-color: darken($primary-brand, 10%);
  }

  &:active,
  &:focus,
  &.is-progress {
    background-color: darken($primary-brand, 20%);
  }

  &:disabled,
  &.is-disabled {
    background-color: $primary-brand;
    opacity: 0.4;
  }
}

$almostblack: #1d1f21;

.mn--bt-primary-almostblack {
  background-color: $almostblack;
  color: $primary-inverse-text;

  &:hover {
    background-color: darken($almostblack, 10%);
  }

  &:active,
  &:focus,
  &.is-progress {
    background-color: darken($almostblack, 20%);
  }

  &:disabled,
  &.is-disabled {
    background-color: $almostblack;
    opacity: 0.4;
  }
}

.mn--bt-primary-white {
  background-color: $primary-background;
  color: $almostblack;

  &:hover {
    background-color: $almostblack;
    color: $primary-background;
  }

  &:active,
  &:focus,
  &.is-progress {
    background-color: darken($almostblack, 20%);
  }

  &:disabled,
  &.is-disabled {
    background-color: $almostblack;
    color: $primary-background;
    opacity: 0.4;
  }
}
