// these are the basic button styles that are used on
// v4 of the Grana website.
// 
// Module uses 'bt' prefix to denote a button.

%mn--bt {
  @extend %body-l;
  @extend %line-height-1-3;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  margin-bottom: 20px;
  outline: 0;
  padding: 13px 20px;
  text-decoration: none;
}

.mn--bt-primary,
.mn--bt-ghost {
  @extend %mn--bt;
}

//deprecated

%std-btn {
  @extend %body-l;
  display: inline-block;
  text-decoration: none;
}

.box-button {
  @extend %std-btn;
  padding: 10px 20px;
}

.box-button-blue {
  background-color: $primary-brand;
  color: $primary-inverse-text;
}

.box-button-black {
  background-color: $primary-text;
  color: $primary-inverse-text;
}

.box-button-white {
  background-color: $primary-inverse-text;
  color: $primary-brand;
}

.ghost-button {
  @extend %std-btn;
  background-color: $primary-inverse-text;
  border-style: solid;
  border-width: 2px;
  padding: 8px 20px;
}

.ghost-button-blue {
  border-color: $primary-brand;
  color: $primary-brand;
}

.ghost-button-black {
  border-color: $primary-text;
  color: $primary-text;
}

.ghost-button-white {
  border-color: $primary-inverse-text;
  color: $primary-inverse-text;
}
