//
// Checkboxes allow the user to select multiple options from a set.
// If you have multiple options appearing in a list, you can preserve
// space by using checkboxes. If you have a single option, avoid 
// using a checkbox and use a radio button instead.
//


//default checkbox
.checkbox {
  position: absolute;
  visibility: hidden;
}

.checkbox-label {
  position: relative;
  z-index: 10;
} 

.checkbox-label-box, 
.checkbox-label-name {
  vertical-align: middle;
}

.checkbox-label-box {
  @include size(20px);
  background-color: $secondary-background;
  display: inline-block;
  position: relative;
}

.checkbox-label-name {
  display: inline-block;
  margin-left: 14px;
  position: relative;
}


.checkbox-label-box-white {
  background-color: $primary-background;
}

//State Changes

.checkbox:checked + .checkbox-label {
  .checkbox-label-box {
    &:before {
      @extend %grana-icons;
      color: $primary-brand;
      content: "\e808";
      font-size: 12px;
      font-weight: bold;
      left: 2px;
      position: absolute;
      top: 4px;
	}
  }
  
  .checkbox-label-box-white, 
  .checkbox-label-box-checkgrey {
    &:before {
      color: $primary-text;
    }
  }
}
