// These are the colour standards for the grana website.
// They include the brand colour as well as the colours that
// are used throughout our website.
//
// Please stay with colours on this page for design
// of all UI elements.

$brand-01: #0083C3;
$brand-02: #036394;

$text-01: #35393D;
$text-02: #666C73;
$text-03: #91989C;
$text-04: #CBD0D3;

$inverse-01: #FFF;
$inverse-02: #0083C3;

$ui-01: #FFF;
$ui-02: #F9F9F9;
$ui-03: #35393D;

$support-01: #FF5A5F;
$support-02: #6FC49F;

$primary-brand: $brand-01;
$secondary-brand: $brand-02;
$primary-text: $text-01;
$secondary-text: $text-02;
$secondary-body-text: $text-03;
$inactive-text: $text-04;
$primary-inverse-text: $inverse-01;
$secondary-inverse-text: $inverse-02;
$primary-background: $ui-01;
$secondary-background: $ui-02;
$secondary-cta: $ui-03;
$error: $support-01;
$success: $support-02;


