// Large variation of colour selection

$cs-large-size: 28px;
$cs-large-margin: 10px;

.mn--cs-large {
  height: $cs-large-size;
  margin-right: $cs-large-margin;
  margin-top: $cs-large-margin;

  .mn--cs-circle {
    @include size($cs-large-size);
  }

  .mn--cs-name {
    margin-left: $cs-large-margin;
  }

  .mn--cs-name-sm {
    line-height: 2.8;
  }

  .mn--cs-name-lg {
    line-height: 2;
  }

  .mn--cs-input:checked + .mn--cs-label {
    $cs-large-check-pos: ($cs-large-size/2px - 14px) + $cs-large-margin;
  
    .mn--cs-circle::after { 
      left: $cs-large-check-pos;
      top: $cs-large-check-pos;
    }
  }

}
