// Datatable 
// 
// deprecate non mn prefixed selectors

.mn--datatable,
.datatable {
  border-collapse: collapse;
  width: 100%;

  th {
    @extend %heading-xs;
    @extend %heading-semi;
    background: $secondary-background;
    color: $primary-text;
    height: 44px;
  }

  thead,
  tbody {
    td {
      @extend %body-l;
      border: 2px solid $secondary-background;
      color: $primary-text;
      padding-bottom: 9px;
      padding-top: 9px;
      vertical-align: top;
	}

    th,
    td {
      padding-left: 20px;
      text-align: left;
    }
  }
}

.mn--datatable-helper,
.datatable-helper {
  td {
    @extend %body-m;
    color: $secondary-body-text;
  }

  tr:first-child td {
    padding-top: 20px;
  }
}

// table modifier for smaller screens

.mn--datatable-mobile,
.datatable-mobile {

  th {
    @extend %heading-xxs;
    height: 40px;
  }

  thead,
  tbody {
    td {
      @extend %body-m;
      height: 32px;
    }

    th,
    td:not(:first-child) {
      padding-left: 0;
      padding-right: 20px;
      text-align: right;
    }
  }

  .mn--datatable-helper,
  .datatable-helper {
    td {
      @extend %body-s;
      padding-top: 10px;
    }
  }
}
