// Datatable 
// 
// deprecate non mn prefixed selectors

.mn--datatable,
.datatable {
  @extend %body-l;
  border-collapse: collapse;
  width: 100%;

  th {
    background: $secondary-background;
    color: $primary-text;
    height: 44px;
  }

  td {
    border: 2px solid $secondary-background;
    color: $primary-text;
    padding-bottom: 9px;
    padding-top: 9px;
    vertical-align: top;
  }

  th,
  td {
    padding-left: 20px;
    text-align: left;
  }
  
}

.mn--datatable-helper,
.datatable-helper {
  td {
    @extend %body-m;
    color: $secondary-body-text;
  }

  tr:first-child td {
    padding-top: 20px;
  }
}
