// Datatable small variation
//
// deprecate .mn--datatable-mobile and .datatable-mobile, and non mn prefix selectors

.mn--datatable-small,
.mn--datatable-mobile,
.datatable-mobile {

  th {
    @extend %heading-xxs;
  }

  td {
    @extend %body-m;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  th,
  td {
    &:not(:first-child) {
      padding-left: 0;
      padding-right: 20px;
      text-align: right;
    }
  }

  .mn--datatable-helper,
  .datatable-helper {
    td {
      @extend %body-s;
      padding-top: 10px;
    }
  }
}
