//
// Dropdown module. A sub module of field.
//

.field-dropdown {
  @extend %body-l;
  @include user-select(none);
  
  background: $primary-background;
  position: relative;
  text-align: left;
  text-transform: lowercase;
  width: 100%;
  z-index: 50;
  
  &:after, 
  &-label {
    color: $primary-text;
  }

  &:after {
    @extend %grana-icons;
    @include transform(rotate(90deg));
    content: "\e813";
    font-size: 10px;
    margin: 0 20px;
    position: absolute;
    right: 0;
    top: 18px;
  }
}

.field-dropdown, 
.field-dropdown-item { 
  cursor: pointer;
  padding: 13px 50px 13px 20px;
}

.field-dropdown-label {
  display: block;
  height: 20px;
}

.field-dropdown-list-container {
  @include size(inherit 150px);
  display: none;
  left: 0;
  overflow: scroll;
  position: absolute;
  top: 100%;
}

.field-dropdown-list {
  @include clearliststyle;
  background-color: $secondary-background;
  position: relative;
  width: inherit;
}

.field-dropdown-item {
  color: $primary-text;

  &:hover {
    color: $secondary-cta;
  }

  &.is-selected {
    @extend %heading-semi;
    color: $primary-text;
  }

  &.is-disabled {
    color: $inactive-text;
    text-decoration: line-through;
  }

  &.is-focused {
    color: $primary-text;
  }
}

//States

.is-open {
  .field-dropdown-list-container {
    display: block;
  }

  .field-dropdown-label, 
  &:after {
    color: $text-04;
  }
}
