//
// Styles for the input fields
//

.field-group {
  margin: 20px 0;
  position: relative;
}

.field-group,
.field-label,
.field-text {
  @extend %mn--f-body;
}

.field-label {
  @include transition(transform 0.2s ease);
  @include transform(translate(0, 0) scale(1));
  color: $secondary-body-text;
  font-weight: 400;
  left: 18px;
  margin: 0;
  position: absolute;
  top: 15px;
  transform-origin: left center;
}

.field-text {
  @include transition(border-bottom 0.2s ease);
  background-color: $secondary-background;
  border: 0;
  border-bottom: 2px solid transparent;
  margin: 0;
  outline: none;
  padding: 12px 20px;
  width: 100%;
}

.field-text-white {
  background-color: $primary-inverse-text;
}

.field-helper {
  @extend %mn--f-caption;
  color: $secondary-body-text;
  margin-top: 10px;
}

.field-submit {
  position: absolute;
  right: 0;
  top: 0;
}

.field-submit-btn {
  background: transparent;
  border: 0;
  color: $primary-brand;
  cursor: pointer;
  height: 45px;
  outline: none;
  padding: 0 20px 0 10px;
  
  &:focus,
  &:hover {
    color: $primary-brand;
  }


  &-apply,
  &-applied,
  &-remove {
    display: none;
  }

  &-applied {
    cursor: default;
  }
}

.field-submit-btn-arrow {
  &:after {
    @extend %grana-icons;
    content: "\e813";
    font-size: 8px;
    margin: 0 0 0 10px;
  }
}

// States

.is-filled,
.is-focus {
  .field-label {
    @include transform(translate(0, -24px) scale(0.8));
  }
}

.is-filled {
  .field-submit-btn-apply {
    display: block;
  }
}

.field-text:focus {
  border-bottom: 2px solid $primary-brand;
}


.is-error {
  .field-text {
    border-bottom: 2px solid $error;
  }

  .field-helper {
    color: $error;
  }
}


.is-success {
  .field-text {
    border-bottom: 2px solid $success;
  }

  .field-helper {
    color: $success;
  }

  .field-submit-btn {
    color: $success;

    &:before {
      @extend %grana-icons;
      content: "\e812";
      font-size: 10px;
      margin: 0 10px 0 0;
	}

    &-apply {
      display: none;
    }

    &-applied {
      display: block;
    }
  }
}

.is-remove {
  cursor: pointer;

  .field-submit-btn {
    color: $error;

    &:before {
      @extend %grana-icons;
      content: "\e800";
      font-size: 10px;
      margin: 0 10px 0 0;
    }

    &-apply,
    &-applied {
      display: none;
    }

    &-remove {
      display: block;
    }
  }
}

.is-disabled {
  .field-helper,
  .field-label {
    color: $inactive-text;
    text-decoration: line-through;
  }
}
