//
// Dropdown module. A sub module of field.
//

.field-dropdown {
  @extend %body-m;
  @extend %line-height-1-0;
  @include user-select(none);
  background: $secondary-background;
  position: relative;
  text-align: left;
  text-transform: lowercase;
  width: 100%;
  z-index: 50;

  &:after,
  &-label {
    color: $primary-text;
  }

  &:after {
    @extend %grana-icons;
    @include transform(rotate(90deg));
    bottom: 50%;
    content: "\e813";
    font-size: 10px;
    margin: 0 20px;
    margin-bottom: -5px;
    position: absolute;
    right: 0;
  }
}

.field-dropdown,
.field-dropdown-item {
  cursor: pointer;
  padding: 14px 50px 14px 20px;
}

.field-dropdown-label {
  display: block;
}

.field-dropdown-list-container {
  @include size(inherit 150px);
  display: none;
  left: 0;
  overflow: scroll;
  position: absolute;
  top: 100%;
}

.field-dropdown-list {
  @include clearliststyle;
  background-color: $secondary-background;
  position: relative;
  width: inherit;
}

.field-dropdown-item {
  color: $secondary-body-text;

  &:hover {
    color: $primary-text;
  }

  &.is-selected {
    @extend %heading-semi;
    color: $secondary-text;
  }

  &.is-disabled {
    color: $inactive-text;
    text-decoration: line-through;
  }

  &.is-focused {
    color: $primary-text;
  }
}

.field-dropdown-up {

  &:after {
    @include transform(rotate(-90deg));
  }

  .field-dropdown-list-container {
    bottom: 100%;
    top: initial;
  }
}



// States

.is-open {
  .field-dropdown-list-container {
    display: block;
  }

  &:after {
    @include transform(rotate(-90deg));
  }

  .field-dropdown-label,
  &:after {
    color: $text-04;
  }
}

.field-dropdown-up.is-open {
  &:after {
    @include transform(rotate(90deg));
  }
}


