/**
* Dropdown module. A sub module of field.
**/

$dropdown-colour: #F9F9F9;
.field-dropdown{
	position: relative;
	background: $dropdown-colour;
	@extend .body-l;
	@include user-select(none);
	width: 100%;
	z-index: 50;
	text-transform: lowercase;
  text-align: left;

	&:after, &-label{
		color: #91989c;
	}

	&:after{
		@extend %grana_icons;
		position: absolute;
		content: '\e813';
		@include transform(rotate(90deg));
		margin: 0 20px;
		font-size: 10px;
		top: 18px;
		right: 0;
	}

	&, &-item{
		cursor: pointer;
		padding: 13px 50px 13px 20px;
	}

	&-label{
		display: block;
		height: 20px;
	}

	&-list-container{
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		@include size(inherit 150px);
		overflow: scroll;
	}

	&-list{
		position: relative;
		width: inherit;

		list-style: none;
	    list-style-image: none;
	    padding: 0;
	    margin: 0;

	    background: $dropdown-colour;
	}



	&-item{
		color: #91989c;

		&:hover{
			color: #35393C;
		}
	}
}

//States

.field-dropdown.is-open{
	.field-dropdown-list-container{
		display: block;
	}

	.field-dropdown-label, &:after{
		color: #CAD0D3;
	}

}

.field-dropdown-item{
	&.is-selected{
		@extend .heading-semi;
		color: #35393D;
	}

	&.is-disabled{
		text-decoration: line-through;
		color: #cad0d3;
	}

	&.is-focused{
		color: #35393C;
	}
}



