/// Handles the form components layout

.field-group {
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}

.field-group-section {
  @include grid-container;

  &-collapse {
    @include grid-collapse;
  }

  &-half,
  &-full {
    margin-top: 0;
  }

  &-half {
    @include grid-column(6);
  }

  &-full {
    @include grid-column(12);
  }
}