//
// Megatron module for large image banners
//

.megatron {
  @extend %layout-full-flexi;
  @include grid-container();
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.megatron-fixed {
  @extend %layout-fixed;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.megatron-center {
  text-align: center;
}

.megatron-disable-select {
  @include user-select(none);
}

// Sub Modules
.megatron-full {
  height: 100%;
}

.megatron-two-thirds {
  height: 90%;
  min-height: 700px;
}

$grid-megatron-half: (
  columns: 12,
  gutter: 0,
);

.megatron-half {
  @include grid-column(6, $grid-megatron-half);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.megatron-nav {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.megatron-nav-bottom {
  bottom: 70px;
}

.megatron-nav-bottom-high {
  bottom: 100px;
}

.megatron-nav-bottom-text {
  font-size: 1.8rem;
  margin-bottom: 85px;
}

.megatron-words {
  color: $primary-inverse-text;
  margin: 0;
}

.megatron-words-large {
  font-size: 12rem;
}

.megatron-words-xlarge {
  font-size: 12.5rem;
}

.megatron-words-small {
  font-size: 10rem;
}

.megatron-words-xsmall {
  font-size: 6rem;
}

.megatron-words-sub {
  display: inline;
  font-size: 2rem;
}

.megatron-video-bg {
  @include size(100%);
  bottom: 0;
  overflow: hidden;
  position: absolute;
  top: 0;

  video {
    @include size(auto);
    @include transform(translate(-50%, -50%));
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
  }
}

.megatron-video-bg-tint {
  &:before {
    @include size(100%);
    background-color: $text-01;
    bottom: 0;
    content: "";
    display: block;
    opacity: 0.06;
    position: absolute;
    top: 0;
    z-index: 1;
  }
}
