/**
 * Megatron module for large image banners
 */



//General megatron module styles
.megatron{
	@extend %layout-full-flexi;
  @include grid-container();
	position: relative;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.megatron-fixed{
	position: relative;
	@extend %layout-fixed;
	height: 100%;
	z-index: 2;
}

.megatron-center{
	text-align: center;
}

.megatron-disable-select{
	@include user-select(none);
}

//Sub Modules
.megatron-full{
	height: 100%;
}

.megatron-two-thirds{
	height: 90%;
	min-height: 700px;
}

$grid-megatron-half: (
  columns: 12,
  gutter: 0,
);
.megatron-half{
  @include grid-column(6, $grid-megatron-half);
  height: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.megatron-nav{
	position: absolute;
	width: 100%;
	z-index: 10;
}

.megatron-nav-bottom{
	bottom: 70px;
}

.megatron-nav-bottom-high{
	bottom: 100px;
}

.megatron-nav-bottom-text{
	margin-bottom: 85px;
	font-size: 1.8rem;
}

.megatron-words{
	margin: 0;
	color: white;
}
.megatron-words-large{
	font-size: 12rem;
}
.megatron-words-xlarge{
	font-size: 12.5rem;
}
.megatron-words-small{
	font-size: 10rem;
}
.megatron-words-xsmall{
	font-size: 6rem;
}
.megatron-words-sub{
	font-size: 2rem;
	display: inline;
}

.megatron-video-bg{
	position: absolute;
	@include size(100%);
  	top: 0;
  	bottom: 0;
  	overflow: hidden;

  	video{
  	  /* Make video to at least 100% wide and tall */
	  min-width: 100%;
	  min-height: 100%;

	  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
	  width: auto;
	  height: auto;

	  /* Center the video */
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  @include transform(translate(-50%,-50%));
  	}
}

.megatron-video-bg-tint{
	&:before{
  		position: absolute;
  		content: '';
  		display: block;
  		@include size(100%);
	  	top: 0;
	  	bottom: 0;
  		z-index: 1;
  		background-color: black;
  		opacity: 0.06;
  	}
}



