/**
 * Megatron module for large image banners
 */



//General megatron module styles
.megatron{
	@extend %full-flexi-container;
  @include grid-container();
	position: relative;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.megatron-fixed{
	position: relative;
	@extend %fixed-container;
	height: 100%;
	z-index: 2;
}

.megatron-center{
	text-align: center;
}

.megatron-disable-select{
	@include user-select(none);
}

//Sub Modules
.megatron-full{
	height: 100%;
}

.megatron-two-thirds{
	height: 90%;
	min-height: 700px;
}

$grid-megatron-half: (
  columns: 12,
  gutter: 0,
);
.megatron-half{
  @include grid-column(6, $grid-megatron-half);
  height: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.megatron-nav{
	position: absolute;
	width: 100%;
	z-index: 10;
}

.megatron-nav-bottom{
	bottom: 70px;
}

.megatron-nav-bottom-high{
	bottom: 100px;
}

.megatron-nav-bottom-text{
	margin-bottom: 85px;
	font-size: 1.8rem;
}

.megatron-words{
	margin: 0;
	color: white;
}
.megatron-words-large{
	font-size: 12rem;
}
.megatron-words-xlarge{
	font-size: 12.5rem;
}
.megatron-words-small{
	font-size: 10rem;
}
.megatron-words-xsmall{
	font-size: 6rem;
}
.megatron-words-sub{
	font-size: 2rem;
	display: inline;
}

.megatron-video-bg{
	position: absolute;
	@include size(100%);
  	top: 0;
  	bottom: 0;
  	overflow: hidden;

  	video{
  	  /* Make video to at least 100% wide and tall */
	  min-width: 100%;
	  min-height: 100%;

	  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
	  width: auto;
	  height: auto;

	  /* Center the video */
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  @include transform(translate(-50%,-50%));
  	}
}

.megatron-video-bg-tint{
	&:before{
  		position: absolute;
  		content: '';
  		display: block;
  		@include size(100%);
	  	top: 0;
	  	bottom: 0;
  		z-index: 1;
  		background-color: black;
  		opacity: 0.06;
  	}
}





//Home Silk

.megatron-home-silk{
	background-image: url('../images/homepage/megatron/Silk_04Jan17_Desktop_1@2x.jpg');
	text-align: center;

	.arrow-link, .arrow-link:hover, .arrow-link:focus{
		color: white;
	}
}

.megatron-home-silk-word{
	position: relative;
	height: 500px;
}

.megatron-home-silk-word-1{
	position:absolute;
    top: 0;
    left: 400px;
}

.megatron-home-silk-word-2{
	position:absolute;
    top: 200px;
    left: 170px;
}

.megatron-home-silk-word-3{
	position:absolute;
    top: 330px;
    left: 850px;
}

//Gift Guide 2016

.megatron-home-gift{
	background-image: url('../images/homepage/megatron/Gift-Guide_13Dec16_Desktop_1@2x.jpg');
	text-align: center;

	.arrow-link, .arrow-link:hover, .arrow-link:focus{
		color: white;
	}
}

.megatron-home-gift-word{
	position: relative;
	height: 300px;
}
.megatron-home-gift-word-1{
	position:absolute;
	top: 0;
    left: 440px;
}

.megatron-home-gift-word-2{
	position:absolute;
	top: 120px;
    right: 370px;
}

//Boxing Day 2016

.megatron-home-boxing{
	position: relative;
	background-color: #d52d46;
	text-align: center;

	.arrow-link, .arrow-link:hover, .arrow-link:focus{
		color: white;
	}
}

.megatron-home-boxing-text{
	position: absolute;
	@include size(100%);
	top: 0;
	left: 0;
	z-index: 0;

	h1{
		position:relative;
		@include size(100%);
		margin: 0;

		font-size: 12rem;
		color: white;
	}
}

.megatron-home-boxing-word-1{
	position: absolute;
	left: 150px;
	top: 100px;
}

.megatron-home-boxing-word-2{
	position: absolute;
	right: 150px;
	top: 100px;
}

.megatron-home-boxing-word-3{
	position: absolute;
	left: 150px;
	bottom: 100px;
	color: $primary-color;
}

.megatron-home-boxing-word-4{
	position: absolute;
	right: 150px;
	bottom: 100px;
}

//Home Capsule

.megatron-home-capsule{
	background-image: url('../images/homepage/megatron/Capsule_10Jan17_Desktop_1@2x.jpg');
	text-align: center;

	.arrow-link, .arrow-link:hover, .arrow-link:focus{
		color: white;
	}
}

.megatron-home-capsule-word{
	position: relative;
	height: 500px;
}

.megatron-home-capsule-word-1{
	position: absolute;
    top: 60px;
    left: 210px;
}

.megatron-home-capsule-word-2{
	position: absolute;
    top: 150px;
    right: 210px;
}

.megatron-home-capsule-word-3{
	position: absolute;
    top: 310px;
    left: 50%;
    margin-left: -170px;
}

// Home Chinese New Year
.megatron-home-cny-row{
	background-image: url('../images/homepage/megatron/CNY_ROW.jpg');
	text-align: center;
	.megatron-home-cny-word-1{
		position: absolute;
	    top: 40px;
	    left: 120px;
	}
	.megatron-home-cny-word-2{
		position: absolute;
	    top: 165px;
	    right: 180px;
	}
	.megatron-home-cny-text{
		position: absolute;
	    top: 390px;
	    right: 440px;
		font-size: 3rem;
	}
	.arrow-link, .arrow-link:hover, .arrow-link:focus{
		color: white;
	}
}

.megatron-home-cny-hk{
	background-image: url('../images/homepage/megatron/CNY_HK&SG.jpg');
	text-align: center;
	.megatron-home-cny-word-1{
		position: absolute;
	    top: 10px;
	    left: 160px;
	}
	.megatron-home-cny-word-2{
		position: absolute;
	    top: 135px;
	    right: 190px;
	}
	.megatron-home-cny-word-3{
		position: absolute;
	    top: 270px;
	    left: 100px;
	}
	.megatron-home-cny-text{
		position: absolute;
	    top: 440px;
	    right: 120px;
		font-size: 3rem;
	}
	.arrow-link, .arrow-link:hover, .arrow-link:focus{
		color: white;
	}
}


//Home Move

.megatron-home-move{
	background-image: url('../images/homepage/megatron/Move_HomepageBanner[Desktop]@2x.jpg');
	text-align: center;

	.arrow-link, .arrow-link:hover, .arrow-link:focus{
		color: white;
	}
}

.megatron-home-move-container{
	position: relative;
	height: 750px;
}

.megatron-home-move-word{
	position: relative;
	height: 100%;
	font-size: 18rem;
	line-height: 1.4;
}

.megatron-home-move-nav{
	bottom: 100px;
}

span[class^='megatron-home-move-letter']{
	position: absolute;
}

.megatron-home-move-letter-1{
    top: 150px;
    left: 100px;
}

.megatron-home-move-letter-2{
    top: 0px;
    left: 550px;
}

.megatron-home-move-letter-3{
    top: 250px;
    left: 700px;
}
.megatron-home-move-letter-4{
    top: 380px;
    right: 100px;
}

// Silk Blue Edit

.megatron-home-silk-blue{
	background-image: url('../images/homepage/megatron/SilkBlueEdit_HomePageBanner_Desktop@2x.jpg');
	text-align: center;

	.arrow-link, .arrow-link:hover, .arrow-link:focus{
		color: white;
	}
}

.megatron-home-silk-blue-words{
	position: relative;
	top: 300px;
	left: 300px;
}

.megatron-nav-silk-right{
	position: relative;
	top: 550px;
	left: 425px;
}

// Womens day

.megatron-home-womens-day{
	background: $design-womensday-yellow-dark;
	text-align: center;

	.megatron-home-womens-day-copy, .arrow-link, .arrow-link:hover, .arrow-link:focus{
		color: white;
	}


}

.megatron-home-womens-day-inequality{
	@include size(auto 240px);
	text-align: center;
}

.megatron-home-womens-day-inequality-inner{
	position: relative;
	display: inline-block;
	width: 150px;
}

.megatron-home-womens-day-copy{
	margin-bottom: 160px;

	font-size: 2rem;
	line-height: 1.42857;
}
.megatron-home-womens-day-container{
	position: absolute;
	@include size(100% auto);
	bottom: 100px;
}


//Workwear


.megatron-home-workwear{
	text-align: center;
}

.megatron-home-workwear-title{
	position: relative;
    font-variant-ligatures: none;
    font-size: 12.5rem;
    margin: 0;
    height: 450px;
    width: 100%;
    z-index: 10;

    .workwear-tl-1{
		left: 241px;
	    top: -15px;
	}

	.workwear-tl-2{
	    top: 87px;
	    right: 260px;
	}

	.workwear-tl-3{
		top: 223px;
	    left: 458px;
	}
}

*[class^='megatron-home-workwear-img']{
	position: absolute;
}

.megatron-home-workwear-img-1{
	height: 100%;
	top: 0;
	right: 790px;
}

.megatron-home-workwear-img-2{
	height: 90%;
    top: 50px;
    left: 620px;
}

// No.1 Essentials

.megatron-home-essentials{
	background-image: url('../images/homepage/megatron/PimaSilk_Desktop_Homepage.jpg');
	text-align: center;

	.arrow-link, .arrow-link:hover, .arrow-link:focus{
		color: white;
	}
}

.megatron-home-essentials-word-1{
	position:absolute;
    top: 75px;
    right: 625px;
}

.megatron-home-essentials-word-2{
	position:absolute;
    top: 250px;
	right: 150px;
}

// Linen Batch 2B

.megatron-home-linen{
	background-image: url('../images/homepage/megatron/HomePageBanner_Desktop_Linen_10April@2x.jpg');
	text-align: center;

	.megatron-nav-bottom-text, .arrow-link, .arrow-link:hover, .arrow-link:focus{
		color: white;
	}
}

.megatron-home-linen-word{
	position: relative;
	height: 500px;
}
.megatron-home-linen-word-1{
	position:absolute;
    top: 100px;
    left: 335px;
}

.megatron-home-linen-word-2{
	position:absolute;
    top: 200px;
    right: 325px;
}

//Home Capsule

.megatron-home-it-shirting{
	background-image: url('../images/homepage/megatron/ItalianShirtingCollection-HomepageBanner[Desktop]@2.jpg');
	text-align: center;

	.arrow-link, .arrow-link:hover, .arrow-link:focus{
		color: white;
	}
}

// Silk 3D Dance
.megatron-home-silk-dance{
	color: #a2b7c8;
  text-align: center;
}

.megatron-home-silk-dance-title{
  position: relative;
    font-variant-ligatures: none;
    font-size: 12.5rem;
    margin: 0;
    height: 450px;
    width: 100%;
    z-index: 10;

  span[class^='silk-dance-tl']{
    position: absolute;
  }

  .silk-dance-tl-1{
    left: 330px;
    top: -15px;
  }

  .silk-dance-tl-2{
    top: 87px;
    right: 260px;
  }

  .silk-dance-tl-3{
    top: 223px;
    left: 496px;
  }
}

*[class^='megatron-home-silk-dance-img']{
  position: absolute;
}

.megatron-home-silk-dance-img-1{
  height: 90%;
  top: 0;
  right: 810px;
}

.megatron-home-silk-dance-img-2{
  height: calc(100% - 50px);
  top: 50px;
  left: 525px;
}

.megatron-nav-silk-dance-right{
	left: 125px;
	.arrow-link{
		color: #a2b7c8;
	}
}

//Silk Tropics


.megatron-home-tropics{
  text-align: center;
  color: #ed6b5f;

  .arrow-link{
    color: #ed6b5f;
  }
}

.megatron-home-tropics-arrow{
  position: relative;
  left: 225px;
}

.megatron-home-tropics-title{
  position: relative;
  font-variant-ligatures: none;
  font-size: 12.5rem;
  margin: 0;
  height: 450px;
  width: 100%;
  z-index: 10;

  span[class^='tropics-tl']{
   position: absolute;
  }
  .tropics-tl-1{
    top: 0px;
    left: 252px;
  }

  .tropics-tl-2{
    top: 120px;
    right: 247px;
  }

  .tropics-tl-3{
    top: 250px;
    right: 540px;
  }
}

*[class^='megatron-home-tropics-img']{
  position: absolute;
}

.megatron-home-tropics-img-1{
  height: 100%;
  top: 0;
  right: 620px;
}

.megatron-home-tropics-img-2{
  height: 100%;
  top: 0px;
  left: 685px;
}

//Swimwear

.megatron-home-swimwear{
	text-align: center;

	.arrow-link, .arrow-link:hover, .arrow-link:focus{
		color: white;
	}
}

.megatron-home-swimwear-word{
	position: relative;
	height: 400px;
}

.megatron-home-swimwear-word-1{
	position: absolute;
  right: 150px;
}

.megatron-home-swimwear-word-2{
	position: absolute;
    top: 145px;
    left: 160px;
}

.megatron-home-swimwear-word-3{
	position: absolute;
    top: 270px;
    left: 310px;
}

//Vacation

.megatron-home-vacation{
  text-align: center;

  .arrow-link, .arrow-link:hover, .arrow-link:focus{
    color: white;
  }
}

.megatron-home-vacation-word{
  position: relative;
  height: 400px;
}

.megatron-home-vacation-word-1{
  position: absolute;
  left: 300px;
}

.megatron-home-vacation-word-2{
  position: absolute;
    top: 130px;
    left: 480px;
}

.megatron-home-vacation-word-3{
  position: absolute;
    top: 270px;
    left: 430px;
}

//Linen Effortless

.megatron-home-eftless{
  text-align: center;

  .arrow-link, .arrow-link:hover, .arrow-link:focus{
    color: white;
  }
}

.megatron-home-eftless-word{
  position: relative;
  height: 400px;
}

.megatron-home-eftless-word-1{
  position: absolute;
  left: 200px;
}

.megatron-home-eftless-word-2{
  position: absolute;
  top: 130px;
  right: 180px;
}

.megatron-home-eftless-word-3{
  position: absolute;
    top: 270px;
    left: 430px;
}

//A shirt story

.megatron-home-shirtstory{
  text-align: center;

  .arrow-link, .arrow-link:hover, .arrow-link:focus{
    color: white;
  }
}

.megatron-home-shirtstory-word{
  position: relative;
  height: 400px;
}

.megatron-home-shirtstory-word-1{
  position: absolute;
  left: 250px;
}

.megatron-home-shirtstory-word-2{
  position: absolute;
  top: 130px;
  right: 180px;
}

.megatron-home-shirtstory-word-3{
  position: absolute;
    top: 270px;
    left: 430px;
}


//Silk Gone Wild

.megatron-home-silkwild{
  text-align: center;

  .arrow-link, .arrow-link:hover, .arrow-link:focus{
    color: white;
  }
}

.megatron-home-silkwild-word{
  position: relative;
  height: 400px;
}

.megatron-home-silkwild-word-1{
  position: absolute;
  left: 300px;
}

.megatron-home-silkwild-word-2{
  position: absolute;
  top: 130px;
  right: 240px;
}

.megatron-home-silkwild-word-3{
  position: absolute;
    top: 270px;
    left: 430px;
}



