/**
 * Styles for the radiobutton module
 */

//default checkbox
.radiobutton{
	position: absolute;
	visibility: hidden;

	& + label{
		position: relative;
		display: block;
		margin-right: 20px;
    margin-bottom: 0;

		&:before, &:after{
			display: inline-block;
			vertical-align: middle;
			border-radius: 50%;
			position: absolute;
			content: '';
			background-color: $secondary-background;

		}

		&:before{
			@include size(20px);
			border: 1px solid $text-04;
			left: 0;
			z-index: 10;
		}

		&:after{
			@include size(14px);
			top: 3px;
			left: 3px;
			z-index: 11;
		}


	}




}

.radiobutton-whitegrey{
	& + label{
		&:before{
			border: 3px solid $inverse-01;
			background-color: $inverse-01;
		}
	}
}

.radiobutton-greygrey{
	& + label{
		&:before{
			border: 3px solid $secondary-background;
			background-color: $secondary-background;
		}
	}
}


.radiobutton-label-name{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin-left: 40px;
  font-weight: 400;
}



//States

.radiobutton{

	&:hover + label, &:checked + label{
		&:before{
			border: 1px solid $primary-brand;
		}
	}

	&:checked + label{
		&:after{
		    background-color: $primary-brand;

		}
	}
}

.radiobutton-whitegrey,.radiobutton-greygrey{
	&:checked + label{
		&:before{
		    background-color: $primary-text;

		}
	}
}
