//
// Styles for the toggle module
//

.toggle {
  @include clearliststyle;
}

.toggle-option {
  display: none;

  + label {
    border-bottom: 2px solid $text-04;
    border-left: 2px solid rgba($text-04, 1);
    border-right: 2px solid rgba($text-04, 0);
    border-top: 2px solid $text-04;
    display: inline-block;
    padding: 18px;
  }

  &:checked ~ label {
    border-bottom: 2px solid $text-04;
    border-left: 2px solid rgba($text-04, 0);
    border-right: 2px solid rgba($text-04, 1);
    border-top: 2px solid $text-04;
  }

  &:checked + label {
    border: 2px solid $primary-brand;
  }
}
