/**
 * Styles for the toggle module
 */

 .toggle{
 	margin: 0;
 	padding: 0;
 	list-style-image: none;
 	list-style: none;
 }


input[type="radio"].toggle-option{
 	display: none;

 	& + label{
	 	display: inline-block;
	 	padding: 18px;
		border-top: 2px solid $text-04;
 		border-bottom: 2px solid $text-04;
 		border-right: 2px solid rgba($text-04,0);
 		border-left: 2px solid rgba($text-04,1);
 	}
 	

 	&:checked ~ label{
 		border-top: 2px solid $text-04;
 		border-bottom: 2px solid $text-04;
 		border-right: 2px solid rgba($text-04,1);
 		border-left: 2px solid rgba($text-04,0);
 	}

 	&:checked + label{
 		border: 2px solid $primary-brand;
 	}
}

 	

 	

 		
 