 // These are the typography standards that are used on the Grana
 // website for both desktop and mobile.
 // Sofia Pro is the standard typeface used across the Grana brand.
 // Desktop and mobile typography vary due to the readability and
 // legibility on different screen sizes. Type styles that are
 // named the same should refer back to the device to determine
 // followed style.
 // 
 // Deprecated. Please use mixins instead

$ln-height-tight: 1.1;
$ln-height-reg: 1.3;
$ln-height-lg: 1.33;

.mn--f-mega {
  @include type-combo(80px, $ln-height-tight);
}

%mn--f-submega,
.mn--f-submega {
  @include type-combo(60px, $ln-height-tight);
}

%mn--f-display,
.mn--f-display {
  @include type-combo(40px, $ln-height-reg);
}

%mn--f-headline,
.mn--f-headline {
  @include type-combo(30px, $ln-height-lg); 
}

%mn--f-title,
.mn--f-title {
  @include type-combo(20px, $ln-height-lg);
}

%mn--f-body,
.mn--f-body {
  @include type-combo(15px, $ln-height-lg);
}

%mn--f-caption,
.mn--f-caption {
  @include type-combo(12px, $ln-height-lg);
}

%mn--f-small,
.mn--f-small {
  @include type-combo(10px, $ln-height-lg);
}

.mn--f-weight-400 {
  font-weight: 400;
}

.mn--f-weight-500 {
  font-weight: 500;
}

.mn--f-weight-600 {
  font-weight: 600;
}

// deprecated

%line-height-1-0 {
  line-height: 1;
}

%line-height-1-1 {
  line-height: 1.1;
}

%line-height-1-2 {
  line-height: 1.2;
}

%line-height-1-3 {
  line-height: 1.3;
}

%line-height-1-4 {
  line-height: 1.4;

  &:after {
    content: "";
  }
}

%body-l {
  font-size: 15px;
}

%body-m {
  font-size: 12px;
}

%body-s {
  font-size: 10px;
}

%heading {
  font-weight: 400;
  margin: 0;
}

%heading-semi {
  font-weight: 600;
}

%heading-xl {
  font-size: 60px;
}

%heading-l {
  font-size: 30px;
}

%heading-m {
  font-size: 25px;
}

%heading-s {
  font-size: 20px;
}

%heading-xs {
  font-size: 15px;
}

%heading-xxs {
  font-size: 12px;
}

%megaheading {
  font-weight: 400;
  margin: 0;
}

%megaheading-xl {
  font-size: 120px;
}

%megaheading-l {
  font-size: 100px;
}
