 // These are the typography standards that are used on the Grana
 // website for both desktop and mobile.
 // Sofia Pro is the standard typeface used across the Grana brand.
 // Desktop and mobile typography vary due to the readability and
 // legibility on different screen sizes. Type styles that are
 // named the same should refer back to the device to determine
 // followed style.

%line-height-1-0 {
  line-height: 1;
}

%line-height-1-1 {
  line-height: 1.1;
}

%line-height-1-2 {
  line-height: 1.2;
}

%line-height-1-3 {
  line-height: 1.3;
}

%line-height-1-4 {
  line-height: 1.4;

  &:after {
    content: "";
  }
}

%body-l {
  font-size: 15px;
}

%body-m {
  font-size: 12px;
}

%body-s {
  font-size: 10px;
}

%heading {
  font-weight: 400;
  margin: 0;
}

%heading-semi {
  font-weight: 600;
}

%heading-xl {
  font-size: 60px;
}

%heading-l {
  font-size: 30px;
}

%heading-m {
  font-size: 25px;
}

%heading-s {
  font-size: 20px;
}

%heading-xs {
  font-size: 15px;
}

%heading-xxs {
  font-size: 12px;
}

%megaheading {
  font-weight: 400;
  margin: 0;
}

%megaheading-xl {
  font-size: 120px;
}

%megaheading-l {
  font-size: 100px;
}
