<figure>
  <a href="#" class="mn--bt-primary mn--bt-primary-blue">shop now</a>
  <a href="#" class="mn--bt-primary mn--bt-primary-almostblack">shop now</a>
  <button class="mn--bt-primary mn--bt-primary-white">shop now</button>
  <a href="#" class="mn--bt-ghost mn--bt-ghost-blue">shop now</a>
  <a href="#" class="mn--bt-ghost mn--bt-ghost-almostblack">shop now</a>
  <a href="#" class="mn--bt-primary mn--bt-primary-blue mn--bt-siamesetext">
  	<div class="mn--bt-siamesetext-inner">add to bag<span class="mn--bt-siamesetext-right">IRD1,000,000</span></div>
  </a>
  <a href="#" class="mn--bt-ghost mn--bt-ghost-almostblack mn--bt-siameseicon mn--bt-siameseicon-arrow">shop now</a>
</figure>