<h1>ghost button</h1>
<p>Use this button to replace the primary button there is no other secondary button or when attention should be given to the background image in which the button lives. Refer to above for guidance on button sets.</p>
<p>Add the <code>.mn--bt-ghost</code> class to a clickable element such as an anchor or button. You must include a colour variation: <code>.mn--bt-ghost-blue</code> or <code>.mn--bt-primary-almostblack</code>.</p>
<figure>
  <a href="#" class="mn--bt-ghost mn--bt-ghost-blue">shop now</a>
  <a href="#" class="mn--bt-ghost mn--bt-ghost-almostblack">shop now</a>
</figure>