<h1>secondary button</h1>
<p>Use for secondary actions of each page. These buttons should not function as links but as actions that change what or how data is displayed on the page (view more, show all, etc).</p>
<p>Add the <code>.mn--bt-secondary</code> class to an anchor tag. You must include a colour variation: <code>.mn--bt-secondary-almostblack</code> or <code>.mn--bt-secondary-white</code>.</p>
<figure>
  <a href="#" class="mn--bt-secondary mn--bt-secondary-almostblack">shop now</a>
  <a href="#" class="mn--bt-secondary mn--bt-secondary-white">shop now</a>
</figure>