<h1>siamese button</h1>
<p>This variation is used where additional information or icon is attached to the button. The information or icon should give the user more context to the function or action of that button.</p>
<p>Both <code>.mn--bt-siamesetext</code> and <code>.mn--bt-siameseicon</code> can be combined with other buttons styles. The siamese icon has one variation, <code>.mn--bt-siameseicon-arrow</code>.</p>
<figure>
  <a href="#" class="mn--bt-primary mn--bt-primary-blue mn--bt-siamesetext">
  	<div class="mn--bt-siamesetext-inner">add to bag<span class="mn--bt-siamesetext-right">IRD1,000,000</span></div>
  </a>
  <a href="#" class="mn--bt-ghost mn--bt-ghost-almostblack mn--bt-siameseicon mn--bt-siameseicon-arrow">shop now</a>
</figure>