<h1>primary button</h1>
<p>Use when it’s the principle call to action on the page. The colour of the primary button should be flexible to the context of its use — as long as it has the primary dominance of the page.</p>
<p>Add the <code>.mn--bt-primary</code> class to a clickable element such as an anchor or button. You must include a colour variation: <code>.mn--bt-primary-blue</code>, <code>.mn--bt-primary-almostblack</code>, or <code>.mn--bt-primary-white</code>.</p>
<figure>
  <a href="#" class="mn--bt-primary mn--bt-primary-blue">shop now</a>
  <a href="#" class="mn--bt-primary mn--bt-primary-almostblack">shop now</a>
  <button class="mn--bt-primary mn--bt-primary-white">shop now</button>
</figure>