{% include section.html info = "content/buttons/buttons-info.html" examples = "content/buttons/buttons-examples.html" first = "true" id = "buttons" %}
{% include section.html info = "content/buttons/buttons-primary-info.html" examples = "content/buttons/buttons-primary-examples.html" id = "buttons-primary" %}
{% include section.html info = "content/buttons/buttons-ghost-info.html" examples = "content/buttons/buttons-ghost-examples.html" id = "buttons-ghost" %}
{% include section.html info = "content/buttons/buttons-secondary-info.html" examples = "content/buttons/buttons-secondary-examples.html" id = "buttons-secondary" %}
{% include section.html info = "content/buttons/buttons-siamese-info.html" examples = "content/buttons/buttons-siamese-examples.html" id = "buttons-siamese" %}