<h1>range slider</h1>
<p>A range slider allows a range to be chosen within the min and max values. </p>

<p>Similar to a regular slider, it requires a div element with a unique id, which the slider plugin uses. The element must contain the div <code>.ui-slider-range-labels</code> with the child elements <code>.ui-slider-range-min</code> and <code>.ui-slider-range-max</code>.</p>

<figure>
  <div id="slider-range-example">
    <div class="ui-slider-range-labels">
    	<div class="ui-slider-range-min"></div><div class="ui-slider-range-max"></div>
    </div>
  </div>
</figure>