<h1>slider</h1>
<p>A slider selects a value within a range of values. The standard slider features one handle to select a single value.</p>
<p>The implementation requires a div element with a unique id, which the slider plugin uses. The element must contain the div <code>.ui-slider-range-labels</code> with the child element <code>.ui-slider-range-cur</code>.</p>
<p>Please refer to the <a href="http://api.jqueryui.com/slider/" target="_blank">jQuery UI Slider API</a> for features.</p>
<figure>
  <div id="slider-example">
    <div class="ui-slider-range-labels">
    	<div class="ui-slider-range-cur"></div>
    </div>
  </div>
</figure>
