{% assign title = 'example' %}
{% assign code = '
<pre><code class="html">&lt;div class="mn--grid-dev"&gt;
  &lt;div class="mn--row"&gt;
      &lt;div style="height: 300px;" class="mn--col-dev mn--col-xs-6 mn--col-sm-4 mn--col-md-3 mn--col-lg-2 mn--col-xl-1"&gt;&lt;/div&gt;
      &lt;div style="height: 300px;" class="mn--col-dev mn--col-xs-6 mn--col-sm-4 mn--col-md-3 mn--col-lg-2 mn--col-xl-1"&gt;&lt;/div&gt;
      &lt;div style="height: 300px;" class="mn--col-dev mn--col-xs-6 mn--col-sm-4 mn--col-md-3 mn--col-lg-2 mn--col-xl-1"&gt;&lt;/div&gt;
      &lt;div style="height: 300px;" class="mn--col-dev mn--col-xs-6 mn--col-sm-4 mn--col-md-3 mn--col-lg-2 mn--col-xl-1"&gt;&lt;/div&gt;
      &lt;div style="height: 300px;" class="mn--col-dev mn--col-xs-6 mn--col-sm-4 mn--col-md-3 mn--col-lg-2 mn--col-xl-1"&gt;&lt;/div&gt;
      &lt;div style="height: 300px;" class="mn--col-dev mn--col-xs-6 mn--col-sm-4 mn--col-md-3 mn--col-lg-2 mn--col-xl-1"&gt;&lt;/div&gt;
      &lt;div style="height: 300px;" class="mn--col-dev mn--col-xs-6 mn--col-sm-4 mn--col-md-3 mn--col-lg-2 mn--col-xl-1"&gt;&lt;/div&gt;
      &lt;div style="height: 300px;" class="mn--col-dev mn--col-xs-6 mn--col-sm-4 mn--col-md-3 mn--col-lg-2 mn--col-xl-1"&gt;&lt;/div&gt;
      &lt;div style="height: 300px;" class="mn--col-dev mn--col-xs-6 mn--col-sm-4 mn--col-md-3 mn--col-lg-2 mn--col-xl-1"&gt;&lt;/div&gt;
      &lt;div style="height: 300px;" class="mn--col-dev mn--col-xs-6 mn--col-sm-4 mn--col-md-3 mn--col-lg-2 mn--col-xl-1"&gt;&lt;/div&gt;
      &lt;div style="height: 300px;" class="mn--col-dev mn--col-xs-6 mn--col-sm-4 mn--col-md-3 mn--col-lg-2 mn--col-xl-1"&gt;&lt;/div&gt;
      &lt;div style="height: 300px;" class="mn--col-dev mn--col-xs-6 mn--col-sm-4 mn--col-md-3 mn--col-lg-2 mn--col-xl-1"&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
' %}
{% include example.html %}