<h1>breakpoints</h1>
<p>There are five breakpoints beginning with small screened devices to larger desktop viewports. At a minimum, an element must have <code>.mn--col-xs-[number of columns]</code> to be the default. You can add subsequent column classes to get the desired layout for each breakpoint: <code>class="mn--col-xs-6 mn--col-sm-3"</code></p>

<table class="mn--datatable">
	<thead>
	  <tr>
	    <th>label</th>
	    <th>value</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>xs</td>
	    <td>0px</td>
	  </tr>
	  <tr>
	    <td>sm</td>
	    <td>564px</td>
	  </tr>
	  <tr>
	    <td>m</td>
	    <td>768px</td>
	  </tr>
	  <tr>
	    <td>lg</td>
	    <td>992px</td>
	  </tr>
	  <tr>
	    <td>xl</td>
	    <td>1200px</td>
	  </tr>
	</tbody>
</table>