<h1>visiblity</h1>
<p>We can control the visibility of elements based on the media queries, which can be useful in situations where the layout must change to accomodate different screen sizes.</p>
<figure>
    <div class="mn--vis-xs-block mn--vis-sm-none">only xs visible</div>
    <div class="mn--vis-xs-none mn--vis-sm-block">sm and up visible</div>
    <div class="mn--vis-xs-none mn--vis-md-block">md and up visible</div>
    <div class="mn--vis-xs-none mn--vis-lg-block">lg and up visible</div>
    <div class="mn--vis-xs-none mn--vis-xl-block">only xl visible</div>
</figure>
