<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{page.title}}</title>
  <script
		  src="https://code.jquery.com/jquery-1.11.1.min.js"
		  integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
		  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
  <script type="text/javascript" src="js/react.js"></script>
  <script type="text/javascript" src="js/react-dom.js"></script>
  <script type="text/javascript" src="js/classnames.js"></script>
  <script type="text/javascript" src="js/core.concat.min.js"></script>
  <script type="text/javascript" src="js/doc.min.js"></script>
  <script type="text/javascript" src="js/examples.concat.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>