<div class="sidenav">
  <div class="doc-sandwich">
    <div class="doc-sandwich-inner"></div>
  </div>
  <div class="sidenav-logo-section">
    <div class="sidenav-logo"></div>
  </div>
  <nav role="navigation" class="sidenav-menu">
    <h5 class="sidenav-menu-heading">styles</h5>
    <ul class="sidenav-menu-items">
      <li><a class="sidenav-menu-link" href="#colors">colors</a></li>
      <li><a class="sidenav-menu-link" href="#grid">grid</a></li>
      <li><a class="sidenav-menu-link" href="#typography">typography</a>
        <ul class="sidenav-menu-sub-items">
          <li><a class="sidenav-menu-link" href="#typography-sizes">type sizes</a></li>
          <li><a class="sidenav-menu-link" href="#typography-line">line-height</a></li>
          <li><a class="sidenav-menu-link" href="#typography-weight">font weight</a></li>
        </ul>
      </li>
    </ul>
    <h5 class="sidenav-menu-heading">components</h5>
  	<ul class="sidenav-menu-items">
      <li><a class="sidenav-menu-link" href="#buttons">buttons</a>
        <ul class="sidenav-menu-sub-items">
          <li><a class="sidenav-menu-link" href="#buttons-primary">primary button</a></li>
          <li><a class="sidenav-menu-link" href="#buttons-ghost">ghost button</a></li>
          <li><a class="sidenav-menu-link" href="#buttons-secondary">secondary button</a></li>
          <li><a class="sidenav-menu-link" href="#buttons-siamese">siamese button</a></li>
        </ul>
      </li>
  	  <li><a class="sidenav-menu-link" href="#checkbox">checkbox</a></li>
      <li><a class="sidenav-menu-link" href="#colourselection">colour selection</a></li>
      <li><a class="sidenav-menu-link" href="#datatable">datatable</a>
        <ul class="sidenav-menu-sub-items">
          <li><a class="sidenav-menu-link" href="#datatable-small">datatable small</a></li>
          <li><a class="sidenav-menu-link" href="#datatable-lite">datatable lite</a></li>
        </ul>
      </li>
      <li><a class="sidenav-menu-link" href="#dropdown">dropdown</a>
        <ul class="sidenav-menu-sub-items">
          <li><a class="sidenav-menu-link" href="#dropdown-invert">dropdown invert</a></li>
        </ul>
      </li>
      <li><a class="sidenav-menu-link" href="#link">link</a>
         <ul class="sidenav-menu-sub-items">
          <li><a class="sidenav-menu-link" href="#link-arrow">link arrow</a></li>
        </ul>
      </li>
  	  <li><a class="sidenav-menu-link" href="#radiobutton">radio button</a>
         <ul class="sidenav-menu-sub-items">
          <li><a class="sidenav-menu-link" href="#error-radiobutton">error radio button</a></li>
        </ul>
      </li>
      <li><a class="sidenav-menu-link" href="#slider">slider</a>
        <ul class="sidenav-menu-sub-items">
          <li><a class="sidenav-menu-link" href="#range-slider">range slider</a></li>
        </ul>
      </li>
      <li><a class="sidenav-menu-link" href="#stepper">stepper</a>
        <ul class="sidenav-menu-sub-items">
          <li><a class="sidenav-menu-link" href="#blue-stepper">blue stepper</a></li>
          <li><a class="sidenav-menu-link" href="#outline-stepper">outline stepper</a></li>
        </ul>
      </li>
      <li><a class="sidenav-menu-link" href="#switcheroo">switcheroo</a>
        <ul class="sidenav-menu-sub-items">
          <li><a class="sidenav-menu-link" href="#switcheroo-tight">switcheroo tight</a></li>
        </ul>
      </li>
  	  <li><a class="sidenav-menu-link" href="#textfield">textfield</a>
        <ul class="sidenav-menu-sub-items">
          <li><a class="sidenav-menu-link" href="#standard-textfield">standard textfield</a></li>
          <li><a class="sidenav-menu-link" href="#error-textfield">error textfield</a></li>
        </ul>
      </li>
      <li><a class="sidenav-menu-link" href="#textarea">textarea</a></li>
  	</ul>
  </nav>
</div>