<div class="sidenav">
  <div class="sidenav-logo-section">
    <div class="sidenav-logo"></div>
  </div>
  <nav role="navigation" class="sidenav-menu">
    <h5 class="sidenav-menu-heading">components</h5>
  	<ul class="sidenav-menu-items">
  	  <li><a class="sidenav-menu-link" href="#checkbox">checkbox</a></li>
      <li><a class="sidenav-menu-link" href="#colourselection">colour selection</a></li>
  	  <li><a class="sidenav-menu-link" href="#radiobutton">radio button</a></li>
      <li><a class="sidenav-menu-link" href="#slider">slider</a>
        <ul class="sidenav-menu-sub-items">
          <li><a class="sidenav-menu-link" href="#range-slider">range slider</a></li>
        </ul>
      </li>
      <li><a class="sidenav-menu-link" href="#stepper">stepper</a></li>
  	  <li><a class="sidenav-menu-link" href="#textfield">textfield</a>
        <ul class="sidenav-menu-sub-items">
          <li><a class="sidenav-menu-link" href="#standard-textfield">standard textfield</a></li>
          <li><a class="sidenav-menu-link" href="#error-textfield">error textfield</a></li>
        </ul>
      </li>
  	</ul>
  </nav>
</div>