//
// Code tag styling for highlight.js
//

$code-black: #000;

.hljs {
  background-color: $code-black;
  font-size: 13px;
  padding: 1.4em;
}

.hljs,
.hljs-subst {
  color: $secondary-text;
}

.hljs-attr {
  color: lighten($primary-brand, 20%);
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: $error;
}
