//
// Code tag styling for highlight.js
//

.hljs {
  padding: 1.4em;
}

.hljs,
.hljs-subst {
  color: $primary-brand;
}

.hljs-attr {
  color: lighten($primary-brand, 20%);
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: $error;
}
