//
// Code tag styling for highlight.js
//

.hljs {
  background-color: transparent;
  font-size: 13px;
  padding: 1.4em;
  padding-left: 0;
}

.hljs,
.hljs-subst {
  color: mn-color("almostblack");
}

.hljs-attr {
  color: mn-color("brandblue");
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: mn-color("green");
}
