//
// Documentation module
//

// vars

$sidebar-width: 280px;

.doc {
  @include size(100% auto);
  font-family: $sofiapro;

  // Temp reset for headers
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }
}

// standard styling

.doc-p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.333;
}

.doc-content-wrapper {
  @include outer-container(960px);
  padding: 0 40px;
}


.doc-sidenav {
  @include size($sidebar-width 100%);
  background-color: $tricolor-grey;
  border-right: 1px solid darken($tricolor-grey, 10%);
  color: $primary-color;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
}

.doc-sidenav-logo {
  color: $primary-brand;
  display: block;
  font-size: 1.9rem;
  margin: 50px;
  text-align: center;
}

.doc-main {
  margin-left: $sidebar-width;
  width: calc(100% - #{$sidebar-width});
}

.doc-main-header {
  padding: 20px 0;

  h1 {
    @extend %heading;
    @extend %heading-m;
    margin: 0;
  }
}

.doc-main-section {
  @extend %heading;
  @extend %heading-l;
  border-bottom: 1px solid $primary-color;
  padding: 10px 0;
}


// Item

.doc-item {
  border-bottom: 1px solid darken($tricolor-grey, 10%);
  padding: 20px 0;
}

.doc-item-section:not(:last-child) {
  margin-bottom: 2em;
}

// syntax and code

code:not(.hljs) {
  background-color: lighten($primary-brand, 60%);
  border-radius: 4px;
  color: $primary-brand;
  font-size: 0.9em;
  padding: 2px 4px;
  white-space: nowrap;
}

// Lists

.doc-list {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.doc-list-horizontal {
  li {
    float: left;
    position: relative;
  }

  &:after {
    clear: both;
    content: "";
    display: table;
  }
}
