//
// Documentation module
//

// vars

$sidebar-width: 230px;
$doc-layout-border-light: 1px solid darken($secondary-background, 3%);
$doc-layout-border-dark: 1px solid lighten($ui-03, 3%);

.doc {
  @extend %body-l;
  box-sizing: border-box;
  color: $primary-text;
  font-family: $sofiapro;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  * {
    box-sizing: border-box; 
  }
 
  *:before,
  *:after {
    box-sizing: border-box; 
  }

  a:not(.sidenav-menu-link) {
    color: $primary-brand;
  }
}

// standard styling

.doc-background {
  bottom: 0;
  left: $sidebar-width;
  position: fixed;
  right: 0;
  top: 0;
}

.doc-background-right {
  background-color: $ui-03;
  bottom: 0;
  left: 45%;
  position: absolute;
  right: 0;
  top: 0;

  @include media-break(mobile) {
    display: none;
  }
}

.doc-content {
  bottom: 0;
  left: $sidebar-width;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.doc-content-inner {
  position: relative;
}

.doc-examples,
.doc-info {
  position: relative;
}

.doc-examples {
  color: $secondary-text;
  margin-left: 45%;

  h3 {
    @extend %heading;
    @extend %heading-xs;
    margin-bottom: 20px;
  }

  pre {
    margin: 0;
  }

  @include media-break(mobile) {
    margin-left: 0;
  }
}

.doc-examples-pad {
  padding: 40px;
}

.doc-example {

  &:not(:first-child) {
    padding-top: 20px;
  }

  &:not(:last-child) {
    padding-bottom: 20px;
  }
  
}

.doc-info {
  float: left;
  width: 45%;

  @include media-break(mobile) {
    float: none;
    width: 100%;
  }
}

.doc-info-pad {
  padding: 0 40px;
}

.doc-section {
  @include clearfix();

  figure {
    margin: 40px 0;
    overflow: hidden;
  }

  .doc-overflow {
    overflow: initial;
  }

  h1 {
    @extend %heading-s;
    @extend %line-height-1-1;
    font-weight: normal;
    margin: 0 0 20px;
  }

  p {
    @extend %line-height-1-4;
    margin: 20px 0 0;
  }
}



.doc-section.first-section:not(:first-child) {

  .doc-info {
    border-top: $doc-layout-border-light;
  }

  .doc-examples {
    border-top: $doc-layout-border-dark;

    @include media-break(mobile) {
      border-top: none;
    }
  }
  
}

.doc-section-pad {
  padding: 50px 0;
}

// syntax and code

code:not(.hljs) {
  background-color: lighten($primary-brand, 60%);
  border-radius: 4px;
  color: $primary-brand;
  font-size: 0.9em;
  padding: 2px 4px;
  white-space: nowrap;
}

// Lists

.doc-list {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.doc-list-horizontal {
  li {
    float: left;
    position: relative;
  }

  &:after {
    clear: both;
    content: "";
    display: table;
  }
}
