//
// Documentation module
//

// vars

$sidebar-width: 230px;

.doc {
  @extend %body-l;
  @extend %line-height-1-1;
  color: $primary-text;
  font-family: $sofiapro;
  -webkit-font-smoothing: antialiased;
}

// standard styling

.doc-background {
  bottom: 0;
  left: $sidebar-width;
  position: fixed;
  right: 0;
  top: 0;
}

.doc-background-right {
  background-color: $ui-03;
  bottom: 0;
  left: 45%;
  position: absolute;
  right: 0;
  top: 0;
}

.doc-content {
  bottom: 0;
  left: $sidebar-width;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.doc-examples,
.doc-info {
  position: relative;
}

.doc-examples {
  margin-left: 45%;
}

.doc-info {
  float: left;
  width: 45%;
}

.doc-info-pad {
  padding: 0 40px;
}

.doc-section {
  @include clearfix();

  h1 {
    @extend %heading-l;
    @extend %line-height-1-1;
    font-weight: normal;
    margin: 0 0 20px;
  }

  p {
    margin: 20px 0 0;
  }
}

.doc-section-pad {
  padding: 60px 0;
}

.doc-p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.333;
}

.doc-content-wrapper {
  padding: 0 40px;
  width: 960px;
}

.doc-main {
  margin-left: $sidebar-width;
  width: calc(100% - #{$sidebar-width});
}

.doc-main-header {
  padding: 20px 0;

  h1 {
    @extend %heading;
    @extend %heading-m;
    margin: 0;
  }
}

.doc-main-section {
  @extend %heading;
  @extend %heading-l;
  border-bottom: 1px solid $primary-text;
  padding: 10px 0;
}


// Item

.doc-item {
  border-bottom: 1px solid darken($secondary-background, 10%);
  padding: 20px 0;
}

.doc-item-section:not(:last-child) {
  margin-bottom: 2em;
}

// syntax and code

code:not(.hljs) {
  background-color: lighten($primary-brand, 60%);
  border-radius: 4px;
  color: $primary-brand;
  font-size: 0.9em;
  padding: 2px 4px;
  white-space: nowrap;
}

// Lists

.doc-list {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.doc-list-horizontal {
  li {
    float: left;
    position: relative;
  }

  &:after {
    clear: both;
    content: "";
    display: table;
  }
}
