$sidebar-width: 280px;

.sidenav {
  @include size($sidebar-width 100%);
  background-color: $secondary-background;
  border-right: 1px solid darken($secondary-background, 10%);
  color: $primary-text;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
}

.sidenav-logo {
  color: $primary-brand;
  display: block;
  font-size: 1.9rem;
  margin: 50px;
  text-align: center;
}
