$sidebar-width: 230px;

.sidenav {
  @include size($sidebar-width 100%);
  background-color: $secondary-background;
  border-right: 1px solid darken($secondary-background, 5%);
  color: $primary-text;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
}

.sidenav-logo-section {
  height: 50px;
}

.sidenav-logo {
  color: $primary-brand;
  display: inline-block;
  left: 20px;
  position: relative;
  top: 15px;

  &:before {
    @extend %grana-icons;
    content: "\e814";
    position: relative;
    width: auto;
  }
}
