$sidenav-logo-height: 50px;

.sidenav {
  @include size($sidebar-width 100%);
  border-right: $doc-layout-border-light;
  color: $primary-text;
  left: 0;
  overflow: initial;
  position: fixed;
  top: 0;

  @include media-break(mobile) {
    @include transform(translate(-100%, 0));
    @include transition(transform .2s ease);
    width: 70%;
    z-index: 101;
  }
}

.sidenav-logo-section {
  border-bottom: $doc-layout-border-light;
  height: $sidenav-logo-height;
}

.sidenav-logo {
  color: mn-color("brandblue");
  display: inline-block;
  left: 20px;
  position: relative;
  top: 15px;

  &:before {
    @extend %grana-icons;
    content: "\e814";
    position: relative;
    width: auto;
  }
}

.sidenav-menu {
  bottom: 0;
  left: 0;
  overflow: scroll;
  position: absolute;
  top: $sidenav-logo-height;
  width: 100%;
}

.sidenav-menu-heading {
  @extend %heading;
  @extend %heading-xs;
  @extend %line-height-1-3;
  color: $primary-text;
  padding: 0 20px 15px;

  &:first-child {
    padding: 20px 20px 15px;
  }
}

.sidenav-menu-items {
  @include clearliststyle();
  padding-bottom: 30px;
}

.sidenav-menu-link {
  @extend %body-l;
  @extend %line-height-1-3;
  color: $secondary-text;
  display: block;
  padding: 5px 20px;
  text-decoration: none;

  &:not(.is-selected):hover {
    color: $primary-text;
    text-decoration: underline;
  }
}

.sidenav-menu-link.is-selected {
  color: $primary-brand;
}

.sidenav-menu-sub-items {
  @include clearliststyle();
  @include transition(max-height .2s ease);
  max-height: 0;
  overflow: hidden;
  padding-left: 10px;
}

.is-active {
  .sidenav-menu-sub-items {
    max-height: 400px;
  }
}

.is-expanded {
  .sidenav {
    @include transform(translate(0%, 0));
  }
}