<h1>textarea</h1>
<p>Textareas must have the <code>.field-textarea</code> class and are identical to textfield inputs in that they have the class <code>.field-text</code> and must be wrapped in <code>.field-group</code>. The grouping includes the label with <code>.field-label</code> and optional elements such as <code>.field-helper</code>. These multi-line fields may have a character counter if the <code>textarea</code> attribute <code>maxlength</code> is set.</p>
<figure>
  <div class="field-group">
    <label for="field-textarea" class="field-label">message</label>
    <textarea id="field-textarea" class="field-text field-textarea" name="textarea-example" maxlength="200">test</textarea>
  </div>
</figure>