<h1>type sizes</h1>
<p>We have eight different text sizes to be utilized using a mixin. The intent is that each mixin can be added to css modules' type selectors, minimizing the amount of classes used on an element.</p>
<div class="doc-scroll">
  <table class="mn--datatable doc-type-size-table">
    <thead>
      <tr>
        <th>px</th>
        <th>mixin</th>
        <th>actual</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>80px</td>
        <td>mn-type("mega")</td>
        <td><span class="mn--f-mega">the owls are not what they seem</span></td>
      </tr>
      <tr>
        <td>60px</td>
        <td>mn-type("submega")</td>
        <td><span class="mn--f-submega">the owls are not what they seem</span></td>
      </tr>
      <tr>
        <td>40px</td>
        <td>mn-type("display")</td>
        <td><span class="mn--f-display">the owls are not what they seem</span></td>
      </tr>
      <tr>
        <td>30px</td>
        <td>mn-type("headline")</td>
        <td><span class="mn--f-headline">the owls are not what they seem</span></td>
      </tr>
      <tr>
        <td>20px</td>
        <td>mn-type("title")</td>
        <td><span class="mn--f-title">the owls are not what they seem</span></td>
      </tr>
      <tr>
        <td>15px</td>
        <td>mn-type("body")</td>
        <td><span class="mn--f-body">the owls are not what they seem</span></td>
      </tr>
      <tr>
        <td>12px</td>
        <td>mn-type("caption")</td>
        <td><span class="mn--f-caption">the owls are not what they seem</span></td>
      </tr>
      <tr>
        <td>10px</td>
        <td>mn-type("small")</td>
        <td><span class="mn--f-small">the owls are not what they seem</span></td>
      </tr>
    </tbody>
  </table>
</div>