<h1>font weight</h1>
<p>There are three weights we use for our type: regular, medium, and semibold. You can add the font-weight property directly to the selector.</p>
<table class="mn--datatable">
  <thead>
    <tr>
      <th>weight</th>
      <th>actual</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>400</td>
      <td><span class="mn--f-title">regular</span></td>
    </tr>
    <tr>
      <td>500</td>
      <td><span class="mn--f-title mn--f-weight-500">medium</span></td>
    </tr>
    <tr>
      <td>600</td>
      <td><span class="mn--f-title mn--f-weight-600">semibold</span></td>
    </tr>
  </tbody>
</table>

