{% assign title = 'example' %}
{% assign code = '
<pre><code class="html">&lt;div class="mn--cs mn--cs-compact"&gt;
  &lt;input type="checkbox" name="compact-cs-check-example" id="compact-cs-example-0" 
  class="mnc--cs-input" checked /&gt;
  &lt;label for="compact-cs-example-0" class="mn--cs-label"&gt;
    &lt;span class="mn--cs-circle compact-cs-blue">&lt;/span&gt;
    &lt;div class="mn--cs-name mn--cs-name-sm"&gt;Grana blue&lt;/div&gt;
  &lt;/label&gt;
&lt;/div&gt;
</code></pre>
' %}
{% include example.html %}
