<figure>
  <div class="field-group">
    <div class="compact-cs">
      <input type="checkbox" name="compact-cs-check-example" id="compact-cs-example-0" class="compact-cs-input" checked>
      <label for="compact-cs-example-0" class="compact-cs-label"><span class="compact-cs-circle compact-cs-blue"></span><div class="compact-cs-name">grana blue</div></label>
    </div>
  </div>
  <div class="field-group">
    <div class="compact-cs">
      <input type="checkbox" name="compact-cs-check-example" id="compact-cs-example-1" class="compact-cs-input">
      <label for="compact-cs-example-1" class="compact-cs-label"><span class="compact-cs-circle compact-cs-lilac"></span><div class="compact-cs-name">lilac</div></label>
    </div>
  </div>
</figure>