<h1>colour selection</h1>
<p>Colour selection for use on category page quick add, and filtering.</p>

<p>Input field of type <code>checkbox</code> and <code>radio</code> can be used. The input tag must have the class <code>.compact-cs-input</code>. There must be a label sibling with the class <code>.compact-cs-label</code> containing an inline <code>span</code> with the class <code>.compact-cs-circle</code>. Add the colour class to the span tag.</p>
<p>The colour name may be added to a div next to <code>.compact-cs-circle</code> with a class name of <code>.compact-cs-name</code>.</p>
<p>Use <code>checked</code> to choose the initial option.</p>
<figure>
  <div class="mn--cs mn--cs-compact">
    <input type="checkbox" name="cs-example-0" id="cs-example-0" class="mn--cs-input" checked>
    <label for="cs-example-0" class="mn--cs-label"><span class="mn--cs-circle compact-cs-blue"></span><div class="mn--cs-name mn--cs-name-sm">Grana blue</div></label>
  </div>

  <div class="mn--cs mn--cs-compact">
    <input type="checkbox" name="cs-example-1" id="cs-example-1" class="mn--cs-input">
    <label for="cs-example-1" class="mn--cs-label"><span class="mn--cs-circle compact-cs-lilac"></span><div class="mn--cs-name mn--cs-name-sm">Lilac</div></label>
  </div>

  <div class="mn--cs mn--cs-compact">
    <input type="checkbox" name="cs-example-2" id="cs-example-2" class="mn--cs-input">
    <label for="cs-example-2" class="mn--cs-label"><span class="mn--cs-circle compact-cs-multi"></span><div class="mn--cs-name mn--cs-name-sm">Burgundy</div></label>
  </div>
</figure>

<figure>
  <div class="mn--cs mn--cs-large">
    <input type="checkbox" name="cs-large-example-0" id="cs-large-example-0" class="mn--cs-input" checked>
    <label for="cs-large-example-0" class="mn--cs-label"><span class="mn--cs-circle compact-cs-blue"></span><div class="mn--cs-name mn--cs-name-sm">Grana blue</div></label>
  </div>

  <div class="mn--cs mn--cs-large">
    <input type="checkbox" name="cs-large-example-1" id="cs-large-example-1" class="mn--cs-input">
    <label for="cs-large-example-1" class="mn--cs-label"><span class="mn--cs-circle compact-cs-lilac"></span><div class="mn--cs-name mn--cs-name-sm">Lilac</div></label>
  </div>

  <div class="mn--cs mn--cs-large">
    <input type="checkbox" name="cs-large-example-2" id="cs-large-example-2" class="mn--cs-input">
    <label for="cs-large-example-2" class="mn--cs-label"><span class="mn--cs-circle compact-cs-multi"></span><div class="mn--cs-name mn--cs-name-sm">Burgundy</div></label>
  </div>
</figure>
