<h1>colour selection</h1>
<p>Colour selection for use on category page quick add, and filtering.</p>

<p>The input field of type <code>checkbox</code> and <code>radio</code> can be used. The input must have the class <code>.compact-cs-input</code>. There must be a label sibling with the class <code>.compact-cs-label</code> containing an inline <code>span</code> with the class <code>.compact-cs-circle</code>. Use <code>checked</code> to choose the initial option.</p>
<p>The colour name may be added to a div next to <code>.compact-cs-circle</code> with a class name of <code>.compact-cs-name</code>.</p>
<figure>
  <div class="field-group">
    <div class="compact-cs">
      <input type="checkbox" name="compact-cs-check-example" id="compact-cs-example-0" class="compact-cs-input" checked>
      <label for="compact-cs-example-0" class="compact-cs-label"><span class="compact-cs-circle compact-cs-blue"></span><div class="compact-cs-name">grana blue</div></label>
    </div>
  </div>
  <div class="field-group">
    <div class="compact-cs">
      <input type="checkbox" name="compact-cs-check-example" id="compact-cs-example-1" class="compact-cs-input">
      <label for="compact-cs-example-1" class="compact-cs-label"><span class="compact-cs-circle compact-cs-lilac"></span><div class="compact-cs-name">lilac</div></label>
    </div>
  </div>
</figure>