// Ghost button

.mn--bt-ghost {
  border-style: solid;
  border-width: 2px;
  padding-bottom: 11px;
  padding-top: 11px;
}

$almostblack: #1d1f21;

.mn--bt-ghost-almostblack {
  @include button-primary(
    (
      default: (background-color: transparent, color: mn-color("almostblack"), border-color: mn-color("almostblack")),
      hover: (background-color: mn-color("almostblack"), color: mn-color("white")),
      progress: (background-color: mn-color("almostblack"), color: mn-color("white")),
      disabled: (background-color: transparent, color: mn-color("almostblack"), opacity: 0.4)
    )
  );
}

.mn--bt-ghost-blue {
  @include button-primary(
    (
      default: (background-color: transparent, color: mn-color("brandblue"), border-color: mn-color("brandblue")),
      hover: (background-color: mn-color("brandblue"), color: mn-color("white")),
      progress: (background-color: mn-color("brandblue"), color: mn-color("white")),
      disabled: (background-color: transparent, color: mn-color("brandblue"), opacity: 0.4)
    )
  );
}

.mn--bt-ghost-white {
  @include button-primary(
    (
      default: (background-color: transparent, color: mn-color("white"), border-color: mn-color("white")),
      hover: (background-color: transparent, color: mn-color("white")),
      progress: (background-color: transparent, color: mn-color("white")),
      disabled: (background-color: transparent, color: mn-color("white"), opacity: 0.4)
    )
  );
}
