//
// Dropdown module. A sub module of field.
//

.field-dropdown {
  @extend %mn--f-caption;
  @include user-select(none);
  @include transition(border-bottom 0.2s ease);
  background: $secondary-background;
  border-bottom: 2px solid transparent;
  position: relative;
  text-align: left;
  text-transform: lowercase;
  width: 100%;
  z-index: 50;

  &:after,
  &-label {
    color: $primary-text;
  }

  &:after {
    @extend %grana-icons;
    @include transform(rotate(90deg));
    bottom: 50%;
    content: "\e813";
    font-size: 10px;
    margin: 0 20px;
    margin-bottom: -5px;
    position: absolute;
    right: 0;
  }
}

.field-dropdown,
.field-dropdown-item {
  cursor: pointer;
  padding: 12px 50px 12px 20px;
}

.field-dropdown-white {
  background: mn-color("white");

  .field-dropdown-item {
    background: mn-color("white");
  }
}

.field-dropdown-large {
  /// temp overide. Needs to be replaced by mixin
  font-size: 15px;
  line-height: 1.33;
}

.field-dropdown-label {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.field-dropdown-list-container {
  display: none;
  left: 0;
  max-height: 300px;
  overflow: scroll;
  position: absolute;
  top: 100%;
  width: inherit;
}

.field-dropdown-list {
  @include clearliststyle;
  background-color: $secondary-background;
  position: relative;
  width: inherit;
}

.field-dropdown-item {
  color: $secondary-body-text;

  &:hover {
    color: $primary-text;
  }

  &.is-selected {
    @extend %heading-semi;
    color: $secondary-text;
  }

  &.is-disabled {
    color: $inactive-text;
    text-decoration: line-through;
  }

  &.is-focused {
    color: $primary-text;
  }
}

.field-dropdown-invert {

  &:after {
    @include transform(rotate(-90deg));
  }

  .field-dropdown-list-container {
    bottom: 100%;
    top: initial;
  }

  &.is-open {
    &:after {
      @include transform(rotate(90deg));
    }
  }
}



// States

.is-open {
  .field-dropdown-list-container {
    display: block;
  }

  &:after {
    @include transform(rotate(-90deg));
  }

  .field-dropdown-label,
  &:after {
    color: $text-04;
  }
}

.is-error {
  .field-dropdown {
    border-bottom: 2px solid $error;
  }
}
