//
// FONTS
//

// This is copied directly from bourbon's _font-face.scss so that the url
// statements in the output sourcemap are relative to this file rather than 
// the mixin file which causes breakages in WebPack build pipelines. See 
// https://www.npmjs.com/package/resolve-url-loader#mixins for more info

@mixin grana-font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal,
  $asset-pipeline: $asset-pipeline,
  $file-formats: eot woff2 woff ttf svg) {

  $font-url-prefix: font-url-prefixer($asset-pipeline);

  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;

    src: font-source-declaration(
      $font-family,
      $file-path,
      $asset-pipeline,
      $file-formats,
      $font-url-prefix
    );
  }
}

@include grana-font-face("sofiapro", "../fonts/sofiapro/SofiaProRegular", $file-formats: eot woff2 woff ttf);
@include grana-font-face("sofiapro", "../fonts/sofiapro/SofiaProMedium", 500, $file-formats: eot woff2 woff ttf);
@include grana-font-face("sofiapro", "../fonts/sofiapro/SofiaProSemiBold", 600, $file-formats: eot woff2 woff ttf);

@include grana-font-face("grana_icons", "../fonts/grana_icons/grana_icons_v3.03", $file-formats: eot woff ttf svg);

$sofiapro: "sofiapro", arial, sans-serif;

%grana-icons {
  display: inline-block;
  font-family: "grana_icons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  margin-left: 0.2em;
  margin-right: 0.2em;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  width: 1em;
}
