// Mobile first grid system 

$gridbreaks: (xs: 0, sm: 564px, md: 768px, lg: 992px, xl: 1200px);

.mn--grid-dev {
  background: mn-color("styleguidebackground");
}

.mn--col-dev {
  background: mn-color("brandblue");
}

.mn--row {
  @include grid-container();
}

.mn--col {
  @each $name, $value in $gridbreaks {
    &-#{$name} {
      @media only screen and (min-width: $value) {
        @include grid-column-set();
      }
    }
	}
}

.mn--push {
  @each $name, $value in $gridbreaks {
    &-#{$name} {
      @media only screen and (min-width: $value) {
        @include grid-push-set();
      }
    }
  }
}

.mn--vis {
  @each $name, $value in $gridbreaks {
    &-#{$name} {
      @media only screen and (min-width: $value) {
        &-none {
          display: none;
        }
        
        &-block {
          display: block;
        }
	 
	&-inline {
          display: inline;
        }
      }
    }
  }
}
