
$layout-fixed: 1200px;

%layout-fixed {
  width: $layout-fixed;
}

%layout-full-flexi {
  min-width: $layout-fixed;
  width: 100%;
}

.mn--module {
  margin: 40px auto;
  max-width: $layout-fixed;

  &-fullwidth {
    margin: 40px 0;
    max-width: none;
  }
}
