// Module for stepper
// 
// Numeric steppers allows the user to adjust a value by increasing and decreasing it in consistent values.
// They are used in situations where users need to adjust a value by a small amount. 
// For precise changes or large adjustments, use a text/number field instead. 
// Numeric steppers are a desktop only component.

.stepper {
  background-color: $secondary-background;
  min-width: 100px;
  position: relative;
  text-align: center;
}

.stepper-button,
.stepper-button:active,
.stepper-button:focus,
.stepper-numeric {
  color: $secondary-body-text;
}

.stepper-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 38px;
  outline: 0;
  padding: 0 20px;
  position: absolute;
  
  &:before {
    @extend %grana-icons;
    font-size: 8px;
    font-weight: bold;
    position: relative;
    top: -2px;
  }

  &:hover {
    color: $primary-text;
  }
}

.stepper-disabled {
  .stepper-button,
  .stepper-numeric {
    color: $inactive-text;
  }
}

.stepper-down {
  left: 0;

  &:before {
    content: "\e801";
  }
}

.stepper-numeric {
  @extend %mn--f-body;
  -moz-appearance: textfield;
  background-color: transparent;
  border: 0;
  font-family: inherit;
  outline: none;
  padding: 10px 11px;
  text-align: center;
  width: 40px;
  
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}

.stepper-up {
  right: 0;

  &:before {
    content: "\e803";
  }
}
