//
// Styles for the toggle module
//

$switcheroo-border-thickness: 2px;

.mn--switcheroo {
  @include mn-type("body");
  @include clearliststyle;
  @include display(flex);
  @include user-select(none);
  color: $secondary-body-text;
  margin-bottom: 20px;

  .mn--switcheroo-subtext {
    @extend %mn--f-caption;
    margin: 10px 0 0;
  }
}

.mn--switcheroo-inner {
  height: inherit;
}

.mn--switcheroo-input {
  display: none;
}

.mn--switcheroo-label {
  @include transition(color 0.2s ease);
  border: $switcheroo-border-thickness solid $inactive-text;
  cursor: pointer;
  display: block;
  height: 100%;
  margin: 0;
  padding: 12px 20px;
  position: relative;
}

.mn--switcheroo-labeltext {
  @include mn-type("body");
  font-weight: normal;
  margin: 0;
}

.mn--switcheroo-input:checked + .mn--switcheroo-label, 
.mn--switcheroo-label:hover {
  color: $primary-brand;
}

.mn--switcheroo-input:checked + .mn--switcheroo-label {
  border-color: $primary-brand;
  z-index: 1;

  &:before {
    background-color: $primary-brand;
  }
}

.mn--switcheroo-panel {
  @include flex-basis(50px);
  @include flex-grow(1);
  text-align: center;

  &:not(:first-child) .mn--switcheroo-label {
    border-left: 0;

    &:before {
      content: "";
      display: block;
      height: calc(100% + (#{$switcheroo-border-thickness}*2));
      left: -$switcheroo-border-thickness;
      position: absolute;
      top: -$switcheroo-border-thickness;
      width: $switcheroo-border-thickness;
    }
  }
}
