<h1>link arrow</h1>
<p>Arrow links should exist as separate elements within a layout and should not be contained in the same container as a text field. They can be used in a number of font sizes depending on usage context. The arrow glyph also has corresponding small, medium, and large sizes.</p>
<p>Comes in two colours, <code>.mn--link-arrow-almostblack</code> and <code>.mn--link-arrow-white</code>.</p>
<figure>
  <a href="#" class="mn--link-arrow mn--link-arrow-almostblack">show me where</a>
</figure>