<h1>error radio button</h1>
<p>Radio buttons have an error state. Add the <code>.is-error</code> class to the <code>input</code> tag.</p>
<figure>
  <div class="field-group">
    <input type="radio" name="radio-error-example" id="radio-error-example-0" class="radiobutton is-error">
    <label for="radio-error-example-0"><span class="radiobutton-label-name">option 1</span></label>
  </div>
  <div class="field-group">
    <input type="radio" name="radio-error-example" id="radio-error-example-1" class="radiobutton is-error">
    <label for="radio-error-example-1"><span class="radiobutton-label-name">option 2</span></label>
  </div>
</figure>