<h1>radio button</h1>
<p>Radio buttons are used in situations where there are two or more options, and the user may only select one.</p>

<p>The input field of type <code>radio</code> must have the class <code>.radiobutton</code> and can be wrapped in <code>.field-group</code>. The input field must have a label sibling containing an inline <code>span</code> with the class <code>.radiobutton-label-name</code>. Use <code>checked</code> to choose the initial option.</p>
<figure>
  <div class="field-group">
    <input type="radio" name="radio-example" id="radio-example-0" class="radiobutton radiobutton-deselect" checked>
    <label for="radio-example-0"><span class="radiobutton-label-name">option 1</span></label>
  </div>
  <div class="field-group">
    <input type="radio" name="radio-example" id="radio-example-1" class="radiobutton radiobutton-deselect">
    <label for="radio-example-1"><span class="radiobutton-label-name">option 2</span></label>
  </div>
</figure>