<h1>dropdown</h1>
<p>A dropdown allows the user to choose between multiple options.</p>
<p>The data attribute <code>field-value</code> is added to the <code>.field-dropdown-item</code> with the value to be passed to the hidden input field.</p>
<p>Add <code>.field-dropdown-invert</code> next to <code>.field-dropdown</code> to have the list open upwards.</p>
<p>To disable a dropdown item, add the state class <code>.is-disabled</code>.</p>
<figure class="doc-overflow">
<div class="field-group">
  <div id="dropdown-example" class="field-dropdown">
    <span class="field-dropdown-label"></span>
      <div class="field-dropdown-list-container">
        <ul class="field-dropdown-list">
          <li class="field-dropdown-item" data-field-value="AD">Andorra</li>
          <li class="field-dropdown-item" data-field-value="AU">Australia</li>
          <li class="field-dropdown-item" data-field-value="AT">Austria</li>
          <li class="field-dropdown-item" data-field-value="BH">Bahrain</li>
          <li class="field-dropdown-item" data-field-value="BE">Belgium</li>
          <li class="field-dropdown-item" data-field-value="BN">Brunei</li>
        </ul>
      </div>
      <input type="hidden" name="dropdownExample">
  </div>
</div>
</figure>