<figure class="doc-overflow">
<div class="field-group">
  <div id="dropdown-example" class="field-dropdown field-dropdown-up">
    <span class="field-dropdown-label"></span>
      <div class="field-dropdown-list-container">
        <ul class="field-dropdown-list">
          <li class="field-dropdown-item" data-field-value="AD">Andorra</li>
          <li class="field-dropdown-item" data-field-value="AU">Australia</li>
          <li class="field-dropdown-item" data-field-value="AT">Austria</li>
          <li class="field-dropdown-item" data-field-value="BH">Bahrain</li>
          <li class="field-dropdown-item" data-field-value="BE">Belgium</li>
          <li class="field-dropdown-item" data-field-value="BN">Brunei</li>
        </ul>
      </div>
      <input type="hidden" name="dropdownExample">
  </div>
</div>
</figure>